{% extends "base_auth.html" %}
{% load i18n %}
{% load static %}
{% load allauth account %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'autenticacao/css/css.css' %}">
{% endblock %}

{% block 'titulo' %}Entre na sua conta{% endblock %}

{% block 'body' %}
<div class="container-fluid" style="background-color: #cee9ff;">
    <div class="row">
        <div class="col-md-6 sidebar">
            <div class="logo_sidebar">
                <h2 class="logo">
                    <img class="img_logo_sidebar" src="{% static 'autenticacao/img/casal.png' %}">
                </h2>
            </div>
        </div>
        <div class="col-md-6">
            <div class="area_cadastrar">
                {% if messages %}
                    <br>
                    {% for message in messages %}
                        <div class="alert {{ message.tags }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                <h2 class="titulo">Seja bem-vindo</h2>
                <p class="sub-titulo">Entre com sua conta</p>
                <hr>
                
                {% if not SOCIALACCOUNT_ONLY %}
                    <form method="post" action="{% url 'account_login' %}">
                        {% csrf_token %}
                        <span class="bold">Nome de usuário ou e-mail</span>
                        <input class="form-control input-form" name="login" type="text" placeholder="Digite seu nome de usuário ou e-mail...">
                        <br>
                        <span class="bold">Senha</span>
                        <input class="form-control input-form" name="password" type="password" placeholder="Digite sua senha...">
                        <br>
                        {{ redirect_field }}
                        <button class="btn-first">Logar</button>
                    </form>
                    <p style="margin-top: 15px;">
                        <a href="{% url 'account_reset_password' %}" class="btn-link">Esqueceu sua senha?</a>
                    </p>
                {% endif %}

                {% if SOCIALACCOUNT_ENABLED %}
                    <hr>
                    {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
                {% endif %}
                
                {% if LOGIN_BY_CODE_ENABLED or PASSKEY_LOGIN_ENABLED %}
                    <hr>
                    {% if PASSKEY_LOGIN_ENABLED %}
                        <p>
                            <button id="passkey_login" form="mfa_login" class="btn btn-outline-primary">
                                Entrar com uma chave de segurança
                            </button>
                        </p>
                    {% endif %}
                    {% if LOGIN_BY_CODE_ENABLED %}
                        <p>
                            <a href="{{ request_login_code_url }}" class="btn btn-outline-primary">
                                Enviar um código de acesso por e-mail
                            </a>
                        </p>
                    {% endif %}
                {% endif %}

                <h3 style="position: absolute; bottom: 65px; font-weight: bold">
                    Não tem uma conta?&nbsp;
                    <a href="{% url 'account_signup' %}" class="btn btn-outline-dark btn-lg">Registre-se</a>
                </h3>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_body %}
    {{ block.super }}
    {% if PASSKEY_LOGIN_ENABLED %}
        {% include "mfa/webauthn/snippets/login_script.html" with button_id="passkey_login" %}
    {% endif %}
{% endblock %}
