{% load static %}
{% load noivos_filters %}  {# Carregue o filtro personalizado #}

{% if user.is_authenticated %}
<nav class="navbar navbar-expand-md navbar-light bg-white bg-opacity-75 shadow fixed-top">
    <div class="container">
        <a class="navbar-brand fw-bold cor-vermelho" href="#">
            {% if nome_primeiro_conjuge and nome_segundo_conjuge %}
                {{ nome_primeiro_conjuge.split.0.0|upper }}{% if nome_primeiro_conjuge.split|length > 1 %}{{ nome_primeiro_conjuge.split.1.0|upper }}{% endif %}
                &
                {{ nome_segundo_conjuge.split.0.0|upper }}{% if nome_segundo_conjuge.split|length > 1 %}{{ nome_segundo_conjuge.split.1.0|upper }}{% endif %}
            {% else %}
                Iniciais
            {% endif %}
        </a>

        <!-- Botão de toggler -->
        <button class="navbar-toggler border-0 cor-vermelho" type="button" id="menu-toggle" aria-label="Toggle navigation">
            <span class="bar bar1"></span>
            <span class="bar bar2"></span>
            <span class="bar bar3"></span>
        </button>

        <!-- Menu colapsável -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <!-- Itens alinhados à esquerda -->
            <ul class="navbar-nav me-auto">  <!-- Removido ms-auto e adicionado me-auto -->
                <li class="nav-item">
                    <a class="nav-link cor-vermelho" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link cor-vermelho" href="{% url 'lista_convidados' %}">Controle de Convidados</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link cor-vermelho" href="{% url 'configurar_perfil' %}">Editar Perfil</a>
                </li>
            </ul>

            <!-- Itens alinhados à direita -->
            <span class="navbar-text me-3 cor-vermelho">Bem-vindo(a), {{ user.username }}!</span>
            <a href="{% url 'sair' %}" class="nav-link cor-vermelho">Sair</a>
        </div>
    </div>
</nav>
{% endif %}