{% load static %}

<nav class="bg-white/80 backdrop-blur-md fixed top-0 w-full z-50 shadow-md">
    <div class="mx-auto max-w-7xl">
        <div class="relative flex h-16 items-center justify-between">
            <div class="flex flex-shrink-0 items-center">
                <img class="h-8 w-auto rounded-md" src="{% static 'noivos/img/logo.png' %}" alt="Logo">
            </div>
            <div class="flex flex-1 items-center justify-center">
                
                <div class="hidden sm:block">
                    <div class="flex justify-center space-x-4">
                        <a href="#galeria-imagens" class="rounded-md px-3 py-2 text-sm font-medium text-[#be1c3cfd] hover:bg-[#be1c3cfd] hover:text-white"><i class="bi bi-camera icon"></i> Galeria</a>
                        <a href="#nossa-data" class="rounded-md px-3 py-2 text-sm font-medium text-[#be1c3cfd] hover:bg-[#be1c3cfd] hover:text-white"><i class="bi bi-calendar4-week icon"></i> Nossa data</a>
                        <a href="#mensagem-noivos" class="rounded-md px-3 py-2 text-sm font-medium text-[#be1c3cfd] hover:bg-[#be1c3cfd] hover:text-white"><i class="bi bi-envelope icon"></i> Mensagem</a>
                        <a href="#confirmacao-presenca" class="rounded-md px-3 py-2 text-sm font-medium text-[#be1c3cfd] hover:bg-[#be1c3cfd] hover:text-white"><i class="bi bi-clipboard-heart icon"></i> Confirmação de presença</a>
                        <a href="#lista-presentes" class="rounded-md px-3 py-2 text-sm font-medium text-[#be1c3cfd] hover:bg-[#be1c3cfd] hover:text-white"><i class="bi bi-gift icon"></i> Lista de presentes</a>
                        <a href="#local-casamento" class="rounded-md px-3 py-2 text-sm font-medium text-[#be1c3cfd] hover:bg-[#be1c3cfd] hover:text-white"><i class="bi bi-clipboard-heart icon"></i> Local</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
