{% load static %}
{% if user.is_authenticated %}
<nav class="bg-slate-100">
    <div class="mx-auto max-w-7xl">
        <div class="relative flex h-16 items-center justify-between">
            <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
                <div class="flex flex-shrink-0 items-center">
                    <img class="h-8 w-auto rounded-md" src="{% static 'noivos/img/logo.png' %}">
                </div>
                <div class="hidden sm:ml-6 sm:block">
                    <div class="flex">
                        <a href="{% url 'home' %}" class="rounded-md px-3 py-2 text-sm font-medium text-gray-900 hover:bg-gray-700 hover:text-white">Lista de presentes</a>
                        <a href="{% url 'lista_convidados' %}" class="rounded-md px-3 py-2 text-sm font-medium text-gray-900 hover:bg-gray-700 hover:text-white">Convidados</a>
                        <a href="{% url 'configurar_perfil' %}" class="rounded-md px-3 py-2 text-sm font-medium text-gray-900 hover:bg-gray-700 hover:text-white">Editar perfil</a>
                    </div>
                </div>
                <div class="ml-auto">
                    <span style="color: rgb(0, 0, 0); margin-right: 10px;">Bem-vindo, {{ user.username }} !</span>
                    <a href="{% url 'sair' %}" class="rounded-md px-3 py-2 text-sm font-medium text-gray-900 hover:bg-gray-700 hover:text-white">Sair</a>
                </div>
            </div>
        </div>
    </div>
 </nav>
 {% endif %}