{% extends 'base_auth.html' %}
{% load socialaccount %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'autenticacao/css/css.css' %}">
{% endblock %}

{% block 'titulo' %}Cadastre-se{% endblock %}

{% block 'body' %}
    <div class="container-fluid d-flex justify-content-center align-items-center min-vh-100" style="background-color: #cee9ff;">
        <div class="row w-100">
            <!-- Sidebar com imagem - Agora visível em todas as telas -->
            <div class="col-lg-6 col-md-12 d-flex justify-content-center align-items-center">
                <div class="logo_sidebar text-center">
                    <h2 class="logo">
                        <img class="img_logo_sidebar img-fluid" src="{% static 'autenticacao/img/casal.png' %}" alt="Casal">
                    </h2>
                </div>
            </div>

            <!-- Área de Cadastro -->
            <div class="col-lg-6 col-md-12 d-flex justify-content-center align-items-center">
                <div class="area_cadastrar text-center p-4">
                    {% if messages %}
                        <br>
                        {% for message in messages %}
                            <div class="alert {{message.tags}}">
                                {{message}}
                            </div>
                        {% endfor %}
                    {% endif %}
                    <h2 class="titulo">Seja bem-vindo</h2>
                    <p class="sub-titulo">Entre com sua conta</p>
                    <hr>

                    <form action="{% url 'logar' %}" method="POST" class="w-100">
                        {% csrf_token %}
                        <div class="mb-3 text-start">
                            <label class="bold">Nome de usuário</label>
                            <input class="form-control input-form" name="usuario" type="text" placeholder="Digite seu nome..." required>
                        </div>
                        <div class="mb-3 text-start">
                            <label class="bold">Senha</label>
                            <input class="form-control input-form" name="senha" type="password" placeholder="Digite sua senha..." required>
                        </div>
                        <button class="btn btn-primary w-100">Logar</button>
                    </form>

                    <br><hr>

                    <a title="Google" href="/accounts/google/login/?process=login" class="w-100">
                        <button class="btn btn-google w-100">
                            <img src="https://playtht-website-assets.s3.amazonaws.com/img/brand/google.svg" alt="Google logo"/> Entrar com Google
                        </button>
                    </a>

                    <h3 class="mt-3">
                        Não tem uma conta? <a href="{% url 'cadastro' %}" class="btn btn-outline-dark btn-lg">Registre-se</a>
                    </h3>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
