{% extends "base.html" %}
{% block 'body' %}
{% load static %}

<style>
    h2 {
        color: #8B4513;
    }

    .cor-vermelho {
        color: #be1c3cfd;
    }

    .cor-marrom {
        color: #8B4513;
    }

    
    /* Estiliza a barra de progresso */
    .range-slider {
        -webkit-appearance: none;
        width: 100%;
        height: 6px;
        background: #be1c3cfd; /* Cor do botão */
        border-radius: 5px;
        outline: none;
        opacity: 0.9;
        transition: opacity .2s;
    }

    /* Quando o usuário passa o mouse */
    .range-slider:hover {
        opacity: 1;
    }

    /* Personaliza o botão deslizante no Chrome */
    .range-slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 16px;
        height: 16px;
        background: #be1c3cfd; /* Cor do botão */
        border-radius: 50%;
        cursor: pointer;
    }

    /* Personaliza o botão deslizante no Firefox */
    .range-slider::-moz-range-thumb {
        width: 16px;
        height: 16px;
        background: #be1c3cfd; /* Cor do botão */
        border-radius: 50%;
        cursor: pointer;
    }

    .card-img-top {
        width: 100%;         /* Faz a imagem ocupar toda a largura do card */
        height: 200px;       /* Altura fixa (ajuste conforme necessário) */
        object-fit: cover;   /* Faz a imagem cobrir o espaço sem distorcer */
        border-radius: 8px;  /* Opcional: bordas arredondadas */
    }

    .edit-icon {
        position: absolute;
        top: 10px;
        right: 10px;
        background: rgba(255, 255, 255, 0.7); /* Fundo semi-transparente */
        padding: 5px;
        border-radius: 50%;
        font-size: 18px;
        color: #be1c3cfd; /* Cor vermelha para combinar com o tema */
        text-decoration: none;
        transition: background 0.3s ease, transform 0.2s ease;
    }

    .edit-icon:hover {
        background: rgba(255, 255, 255, 1);
        transform: scale(1.1);
    }

    .foto-quadrada {
        width: 100%;
        height: 400px;  /* Defina a altura desejada para as imagens na galeria */
        position: relative;
        overflow: hidden;
    }

    .foto-quadrada img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        object-fit: cover; /* Faz a imagem cobrir completamente o espaço sem distorcer */
        transition: transform 0.3s ease-in-out, border-radius 0.3s ease; /* Suaviza o efeito de zoom e bordas */
        border-radius: 12px; /* Aplica o arredondamento nas bordas */
    }
    
    /* Efeito de zoom no hover */
    .foto-quadrada:hover img {
        transform: translate(-50%, -50%) scale(1.1); /* Aumenta a imagem ao passar o mouse */
        border-radius: 12px; /* Garante que o arredondamento seja mantido durante o zoom */
    }

    /* Estilo base para os botões */
    .btn {
        display: inline-block;
        padding: 12px 32px;
        text-align: center;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        border-radius: 9999px;
        transition: all 0.3s ease;
        cursor: pointer;
        width: 200px;  /* Define um tamanho fixo para os botões */
        text-decoration: none;
    }

    /* Botão de Confirmação de Presença: Branco com texto preto */
    .btn-primary {
        background-color: white;
        color: black;
        border: 2px solid white;
    }

    /* Efeito de hover para o botão de Confirmação de Presença */
    .btn-primary:hover {
        background-color: transparent;
        color: white;
        border-color: white;
    }

    /* Botão de Lista de Presentes: Transparente com texto branco */
    .btn-secondary {
        background-color: transparent;
        color: white;
        border: 2px solid white;
    }

    /* Efeito de hover para o botão de Lista de Presentes */
    .btn-secondary:hover {
        background-color: white;
        color: black;
        border-color: white;
    }

    @media (max-width: 768px) {
        .foto-quadrada {
            height: 200px;  /* Ajusta a altura das imagens para telas menores */
        }
    }


    @media (max-width: 768px) {
        .btn {
            width: 100%; /* Faz os botões ocuparem a largura total */
            padding: 10px 16px;
        }
    }

    .relative.w-full.h-screen {
        height: 100vh; /* Usa altura total da tela */
    }

    @media (max-width: 768px) {
        .relative.w-full.h-screen {
            height: 60vh; /* Reduz a altura em telas menores */
        }
        .absolute.inset-0.text-5xl {
            font-size: 2rem; /* Reduz o tamanho do texto */
            text-align: center;
        }
    }

    @media (max-width: 768px) {
        .grid-cols-2 {
            grid-template-columns: 1fr; /* Faz com que cada elemento ocupe 100% da largura */
        }
    }

    img {
        max-width: 100%;
        height: auto;
    }

    @media (max-width: 768px) {
        .text-5xl {
            font-size: 2rem;
        }
        .sm\:text-5xl {
            font-size: 2rem;
        }
    }

    
</style>



{% include "partials/navbar_convidados.html" %}
    <div class="max-w-8xl mx-auto mt-14">
        {% if messages %}
            <div class="max-w-7xl mx-auto mt-12">
                {% for message in messages %}
                    <div class="alert {{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        <!-- Seção de imagem com os nomes dos cônjuges no centro e efeito de escurecimento -->
        <div class="relative w-full h-screen">
            {% if convidado.user.perfil.imagem %}
                <img src="{{ convidado.user.perfil.imagem.url }}" alt="Imagem do Casamento" class="object-cover w-full h-full absolute inset-0">
            {% endif %}
            <!-- Camada escura sobre a imagem -->
            <div class="absolute inset-0 bg-black opacity-40"></div>
            <div class="absolute inset-0 flex flex-col items-center justify-center text-white text-5xl font-semibold drop-shadow-lg">
                <span class="uppercase text-6xl text-white mb-4">
                    {{ convidado.user.perfil.nome_primeiro_conjuge }} 
                    & 
                    {{ convidado.user.perfil.nome_segundo_conjuge }}
                </span>
                <div class="flex space-x-4">
                    <!-- Botão de Confirmação de Presença: Branco para Transparente ao passar o mouse -->
                    <a href="#confirmacao-presenca" class="btn btn-primary">Confirmação de presença</a>
                    <!-- Botão de Lista de Presentes: Transparente para Branco ao passar o mouse -->
                    <a href="#lista-presentes" class="btn btn-secondary">Lista de presentes</a>
                </div>
            </div>
        </div>
        <br>

        <section id="galeria-imagens" class="section-full-height">
            <div class="centralizar-imagem mt-24 mb-12">
                <img src="{% static 'noivos/img/ramocoracao.png' %}" alt="Imagem do Casamento" class="tamanho-imagem">
            </div>
            <div class="grid grid-cols-1 gap-4">
                <div class="mx-auto max-w-2xl text-center">
                    <i class="bi bi-camera icon mt-24 text-balance text-4xl font-semibold cor-vermelho tracking-tight sm:text-5xl"></i>
                    <p class="Comfortaa-Bold text-balance text-4xl mt-2 font-semibold cor-marrom tracking-tight sm:text-5xl">Galeria de fotos</p>
                    <p class=" text-lg leading-8 cor-marrom">Nossos momentos.</p>
                </div>
                <div class="container mt-4">
                    <div class="row g-4">                        
                        {% if convidado.user.perfil.galeria.all|length > 0 %}
                            {% for imagem in convidado.user.perfil.galeria.all|slice:":6" %}
                                <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center">
                                    <div class="foto-quadrada">
                                        <img src="{{ imagem.imagem.url }}" class="img-fluid rounded-4" alt="Imagem da galeria">
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <p>Nenhuma imagem na galeria.</p>
                        {% endif %}

                    </div>
                </div>
            </div>
        </section>
        <br>

        <section id="sobre-nos" class="section-full-height">
            <div class="centralizar-imagem mt-24 mb-12">
                <img src="{% static 'noivos/img/ramocoracao.png' %}" alt="Imagem do Casamento" class="tamanho-imagem">
            </div>
                <div class="mx-auto max-w-2xl text-center">
                    <i class="bi bi-camera icon mt-24 text-balance text-4xl font-semibold cor-vermelho tracking-tight sm:text-5xl"></i>
                    <p class="Comfortaa-Bold text-balance text-4xl mt-2 font-semibold cor-marrom tracking-tight sm:text-5xl">Sobre Nós</p>
                    <p class=" text-lg leading-8 cor-marrom">Conheça nossa história.</p>
                </div>
                <div class="grid grid-cols-2 gap-12">
                    <div class="container mt-4">
                        <div class="row g-4">                        
                            

                        </div>
                    </div>
                </div>
        </section>
        
        
        <br>        
        <section id="nossa-data" class="section-full-height">
            <div class="centralizar-imagem mt-24 mb-12">
                <img src="{% static 'noivos/img/ramocoracao.png' %}" alt="Imagem do Casamento" class="tamanho-imagem">
            </div>
            <!-- Dados da Data de Casamento -->
            <div class="mx-auto max-w-2xl text-center">
                <i class="bi bi-calendar4-week icon mt-24 text-balance text-4xl font-semibold cor-vermelho tracking-tight sm:text-5xl"></i>
                <p class="Comfortaa-Bold text-balance text-4xl mt-2 font-semibold cor-marrom tracking-tight sm:text-5xl">Nossa data</p>
                <br>
                <h1 class="text-balance text-4xl fw-bold tracking-tight cor-vermelho sm:text-5xl">{{ convidado.user.perfil.data_casamento|date:"d/m/Y" }}</h1>
                <br>
                <div id="timer" class="flex justify-center space-x-4">
                    <div class="campo-tempo">
                        <span id="dias" class="valor-tempo">00</span>
                        <span class="rotulo-tempo">dias</span>
                    </div>
                    <div class="campo-tempo">
                        <span id="horas" class="valor-tempo">00</span>
                        <span class="rotulo-tempo">horas</span>
                    </div>
                    <div class="campo-tempo">
                        <span id="minutos" class="valor-tempo">00</span>
                        <span class="rotulo-tempo">minutos</span>
                    </div>
                    <div class="campo-tempo">
                        <span id="segundos" class="valor-tempo">00</span>
                        <span class="rotulo-tempo">segundos</span>
                    </div>
                </div>
            </div>
        </section>
        <br>
        <hr class="mt-12 mb-12"> 
        
        <section id="mensagem-noivos" class="section-full-height">
            <div class="centralizar-imagem mt-24 mb-24">
                <img src="{% static 'noivos/img/ramocoracao.png' %}" alt="Imagem do Casamento" class="tamanho-imagem">
            </div> 
            <div class="text-center max-w-7xl mx-auto px-6">
                <i class="bi bi-envelope icon mt-12 text-balance text-4xl cor-vermelho font-semibold tracking-tight sm:text-5xl"></i>
                <p class="Comfortaa-Bold mb-12 text-balance text-4xl cor-marrom font-semibold tracking-tight sm:text-5xl">Mensagem</p>
                
                <p class="fst-italic flex items-center cor-marrom justify-center text-4xl">
                    {{ convidado.user.perfil.mensagem_noivos }}
                </p>
            </div>
        </section>   

        <section id="confirmacao-presenca" class="section-full-height">
            
            <div class="centralizar-imagem mt-24 mb-24">
                <img src="{% static 'noivos/img/ramocoracao.png' %}" alt="Imagem do Casamento" class="tamanho-imagem">
            </div>
            <div class="text-center">
                <i class="bi bi-clipboard-heart icon mt-12 text-balance text-4xl font-semibold cor-vermelho tracking-tight sm:text-5xl"></i>
                
                <h2 class="Comfortaa-Bold mb-6 text-balance text-4xl mt-2 font-semibold tracking-tight sm:text-5xl cor-marrom">
                    Confirmação de presença
                </h2>
                <p class="mb-6 text-lg leading-8 cor-marrom">Por favor, confirme sua presença e de seus acompanhantes para que possamos preparar tudo com muito carinho.</p>
            </div>
            <div class="grid gap-4 grid-cols-2">
                <div class="mx-auto max-w-2xl text-center">
                    <h2 class="mt-12 mb-12 text-balance text-4xl font-semibold tracking-tight sm:text-5xl">
                        Olá, {{convidado.nome_convidado}}
                    </h2>
            
                    {% if convidado.status == 'AC' %}
                        <p class="mt-12 mb-12 text-lg leading-8 flex items-center justify-center">
                            <span class="text-balance text-4xl tracking-tight cor-marrom sm:text-5xl">Confirme sua presença no casamento:</span>
                        </p>
                        <div class="mt-12 mb-12">
                            <a href="{% url 'responder_presenca' %}?resposta=C&token={{convidado.token}}" 
                                class="btn btn-outline-danger btn-lg" style="width: 100%; border-radius: 30px; text-align: center;">
                                Confirmar
                            </a>
                            
                        </div>
                    {% elif convidado.status == 'C' %}
                        <p class="mt-12 mb-12 text-lg leading-8 cor-marrom">Presença confirmada! Estamos ansiosos para vê-lo no nosso casamento.</p>
                    {% elif convidado.status == 'R' %}
                        <p class="mt-12 mb-12 text-lg leading-8 cor-marrom">Presença recusada. Sentiremos sua falta, esperamos vê-lo em outra oportunidade!</p>
                    {% endif %}
                </div>
                <div>
                    {% if convidado.maximo_acompanhantes > 0 %}
                    <div class="p-6  drop-shadow-lg ring-1 ring-gray-600/20">
                        <h2 class="text-xl font-semibold tracking-tight text-center">Adicione seus acompanhantes</h2>
                        <br>
                        
                        {% if acompanhantes_restantes > 0 %}
                            <form action="{% url 'adicionar_acompanhante' convidado.token %}" method="POST">
                                {% csrf_token %}
                                <input 
                                    type="text" 
                                    id="nome" 
                                    name="nome" 
                                    class="block w-full rounded-md border border-gray-300 px-3.5 py-2 shadow-sm focus:outline-none focus:ring-2 focus:ring-indigo-600 sm:text-sm"
                                    placeholder="Digite o nome do acompanhante"
                                    required
                                >
                                <br>

                                <button type="submit" class="btn btn-outline-danger" style="width: 100%; border-radius: 20px; text-align: center;">
                                    Adicionar
                                </button>
                            </form>
                            <p class="cor-vermelho mt-2">Você ainda pode adicionar <strong>{{ acompanhantes_restantes }}</strong> acompanhante(s).</p>
                        {% else %}
                            <p class="text-red-500 mt-2">Você já atingiu o número máximo de acompanhantes permitidos.</p>
                        {% endif %}

                        <hr class="my-4">
                        <ul>
                            {% for acompanhante in convidado.acompanhantes.all %}
                                <li class="bg-slate-100 p-4 flex justify-between items-center cor-marrom">
                                    {{ acompanhante.nome }}
                                    <form action="{% url 'excluir_acompanhante' convidado.token acompanhante.id %}" method="POST" class="inline">
                                        {% csrf_token %}
                                        <button type="submit" class="text-red-500 hover:text-red-700 text-sm font-semibold">Excluir</button>
                                    </form>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                </div>
            </div>
            
        </section> 

        <br>

        <section id="lista-presentes" class="section-full-height">
            <div class="centralizar-imagem mt-24 mb-12">
                <img src="{% static 'noivos/img/ramocoracao.png' %}" alt="Imagem do Casamento" class="tamanho-imagem">
            </div>
            <div class="grid grid-cols-1 gap-4">
                <div class="mx-auto max-w-2xl text-center">
                    <i class="bi bi-gift icon text-balance text-4xl font-semibold cor-vermelho tracking-tight sm:text-5xl"></i>
                    <h2 class="Comfortaa-Bold mb-6 text-balance text-4xl mt-2 font-semibold tracking-tight sm:text-5xl cor-marrom">
                        Presentes
                    </h2>
                    <p class=" text-lg leading-8 cor-marrom">Agradecemos imensamente sua presença em nosso casamento. Se desejar nos presentear, preparamos uma lista especial de itens que nos ajudarão a construir nosso novo lar.</p>
                </div>
                <div class="container mt-4">
                    <div class="row g-4">
                        {% for presente in presentes %}
                        <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center">
                            <div class="card rounded-2xl shadow-lg overflow-hidden" style="width: 25rem; height: 32rem; position: relative;">
                                {% if presente.foto %}
                                <div class="card-img-container rounded-top-2xl" style="height: 20rem; overflow: hidden;">
                                    <img class="w-100 h-100 object-fit-contain rounded-top-2xl" src="{{ presente.foto.url }}" alt="{{ presente.nome_presente }}">
                                </div>
                                {% else %}
                                <p class="text-center text-gray-400">Sem imagem</p>
                                {% endif %}
                            
                                <div class="card-body rounded-bottom-2xl p-4 bg-white" style="position: absolute; bottom: 0; width: 100%;">
                                    <div class="d-flex justify-content-between align-items-center mt-3">
                                        <h3 class="card-title cor-vermelho m-0">{{ presente.nome_presente }}</h3>
                                        <p class="card-text cor-vermelho m-0">R$ {{ presente.preco|floatformat:2 }}</p>
                                    </div>
                                    <div class="d-flex justify-content-center gap-2 mt-3">
                                        {% if presente.link_sugestao_compra %}
                                            <a class="btn btn-danger btn-sm flex-grow-1 rounded-pill text-center" 
                                               href="{{ presente.link_sugestao_compra }}" 
                                               target="_blank">
                                                Comprar
                                            </a>
                                        {% endif %}
                                        
                                        <button type="button" 
                                                class="btn btn-danger btn-sm flex-grow-1 rounded-pill text-center" 
                                                data-bs-toggle="modal" 
                                                data-bs-target="#modal{{ presente.id }}">
                                            Reservar
                                        </button>
                                    </div>                                                               
                                </div>
                            </div>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="modal{{ presente.id }}" tabindex="-1" aria-labelledby="modalLabel{{ presente.id }}" aria-hidden="true">
                            <div class="modal-dialog modal-lg"> <!-- Corrigi o tamanho do modal para consistência -->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="modalLabel{{ presente.id }}">{{ presente.nome_presente }}</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p><strong>Valor:</strong> R$ {{ presente.preco|floatformat:2 }}</p>
                                        {% if presente.link_sugestao_compra %}
                                        <p><strong>Sugestão de compra:</strong>
                                            <a href="{{ presente.link_sugestao_compra }}" target="_blank" class="text-indigo-600 hover:text-indigo-800">Veja a sugestão</a>
                                        </p>
                                        {% endif %}
                                        
                                        {% if presente.link_cobranca %}
                                        <p><strong>Pague pelo presente dentro da plataforma:</strong>
                                            <a href="{{ presente.link_cobranca }}" target="_blank" class="text-indigo-600 hover:text-indigo-800">Pague aqui</a>
                                        </p>
                                        {% endif %}
                                    </div>
                                    <div class="modal-footer">
                                        <form action="{% url 'reservar_presente' presente.id %}?token={{ convidado.token }}" method="POST">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-primary">Confirmar Reserva</button>
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
            </div>
        </section>

        <section id="local-casamento">
            <div class="centralizar-imagem mt-24 mb-12">
                <img src="{% static 'noivos/img/ramocoracao.png' %}" alt="Imagem do Casamento" class="tamanho-imagem">
            </div>
            <div class="mt-8 bg-white p-6 rounded-md shadow-md">
                <div class="text-center">
                    <i class="bi bi-geo-alt icon text-balance text-4xl font-semibold cor-vermelho sm:text-5xl"></i>
                    <h2 class="Comfortaa-Bold mb-12 text-balance text-4xl mt-2 font-semibold tracking-tight sm:text-5xl cor-marrom">
                        Local
                    </h2>
                    <p class="cor-marrom">Rua: {{ convidado.user.perfil.rua }}, {{ convidado.user.perfil.numero }}, Bairro: {{ convidado.user.perfil.bairro }}, {{ convidado.user.perfil.municipio }}, {{ convidado.user.perfil.estado }}, {{ convidado.user.perfil.pais }} - Cep: {{ convidado.user.perfil.cep }}</p>
                    <hr>
                </div>
            </div>
            <div id="map" style="width: 100%; height: 400px;"></div>
            <br>
            <br>
        </section>
    </div>
    <footer class="text-center text-lg-start bg-gray-900 py-12">
        <!-- Copyright -->
        <div class="text-center text-white">
            {{ convidado.user.perfil.nome_primeiro_conjuge }} & {{ convidado.user.perfil.nome_segundo_conjuge }}
          </div>
        <div class="text-center text-white">
          {{ convidado.user.perfil.data_casamento|date:"d/m/Y" }}
        </div>
        <div class="text-center text-white">
            © 2025 Todos os direitos reservados.
        </div>
        <!-- Copyright -->
    </footer>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyArufezJ1vUqr_syuLuz7ZKDXmzlxVXu88&callback=initMap&v={{ timestamp }}" 
    async defer></script>
    <script>
        function initMap() {
            // Obtendo o endereço do casamento
            const endereco = "{{ convidado.user.perfil.rua }}, {{ convidado.user.perfil.numero }}, {{ convidado.user.perfil.bairro }}, {{ convidado.user.perfil.municipio }}, {{ convidado.user.perfil.estado }}";
            // Usando o Geocoder do Google Maps para obter as coordenadas a partir do endereço
            const geocoder = new google.maps.Geocoder();
            geocoder.geocode({ 'address': endereco }, function(results, status) {
                if (status === 'OK') {
                    // Criando o mapa centrado no local
                    const map = new google.maps.Map(document.getElementById('map'), {
                        zoom: 15,
                        center: results[0].geometry.location
                    });

                    // Marcando o local no mapa
                    const marker = new google.maps.Marker({
                        map: map,
                        position: results[0].geometry.location
                    });
                } else {
                    alert('Geocode não foi bem-sucedido: ' + status);
                }
            });
        }


        function alterarStatus(status) {
                var mensagemElemento = document.getElementById("mensagem-presenca");
                
                if (status === 'confirmado') {
                    mensagemElemento.innerHTML = '<span class="text-green-500 text-xl font-semibold">Presença confirmada!</span>';
                } else if (status === 'recusado') {
                    mensagemElemento.innerHTML = '<span class="text-red-500 text-xl font-semibold">Presença recusada.</span>';
                }
                
                // Esconde os botões após confirmação ou recusa
                document.querySelectorAll('a').forEach(function(button) {
                    button.style.display = 'none';
                });
            }


        // Certifique-se de que a data seja passada corretamente do Django para o JavaScript
        const dataCasamento = "{{ convidado.user.perfil.data_casamento|date:'Y-m-d' }}";

        function iniciarContador() {
            if (!dataCasamento || isNaN(new Date(dataCasamento))) {
                console.error("A data de casamento fornecida é inválida.");
                return;
            }
    
            const fim = new Date(dataCasamento).getTime();
    
            // Verifique se os elementos do timer existem
            if (!document.getElementById("dias") || 
                !document.getElementById("horas") || 
                !document.getElementById("minutos") || 
                !document.getElementById("segundos")) {
                console.error("Elementos do contador não encontrados no HTML.");
                return;
            }
    
            // Função do contador regressivo
            const contador = setInterval(() => {
                const agora = Date.now();
                const tempoRestante = fim - agora;
    
                if (tempoRestante <= 0) {
                    clearInterval(contador);
                    document.getElementById("timer").innerHTML = `
                        <div style="font-size: 2rem; font-weight: bold; color: green;">
                            O grande dia chegou!
                        </div>`;
                    return;
                }
    
                const tempo = {
                    dias: Math.floor(tempoRestante / (1000 * 60 * 60 * 24)),
                    horas: Math.floor((tempoRestante / (1000 * 60 * 60)) % 24),
                    minutos: Math.floor((tempoRestante / (1000 * 60)) % 60),
                    segundos: Math.floor((tempoRestante / 1000) % 60)
                };
    
                // Atualizar os valores no HTML
                for (const unidade in tempo) {
                    document.getElementById(unidade).innerText = String(tempo[unidade]).padStart(2, '0');
                }
            }, 1000);
        }
    
        // Iniciar o contador assim que o conteúdo da página for carregado
        document.addEventListener("DOMContentLoaded", iniciarContador); 
        
    </script>
       
{% endblock %}