{% extends 'base.html' %}
{% block 'body' %}
<div class="max-w-md mx-auto mt-12">
    <h1 class="text-xl font-semibold mb-4">Configurar Perfil</h1>
    <form action="{% url 'configurar_perfil' %}" method="POST">
        {% csrf_token %}
        <div class="mb-4">
            <label for="nome_primeiro_conjuge" class="block text-sm font-medium text-gray-700">Nome do primeiro cônjuge</label>
            <input type="text" id="nome_primeiro_conjuge" name="nome_primeiro_conjuge" class="mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
        </div>
        <div class="mb-4">
            <label for="nome_segundo_conjuge" class="block text-sm font-medium text-gray-700">Nome do segundo cônjuge</label>
            <input type="text" id="nome_segundo_conjuge" name="nome_segundo_conjuge" class="mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
        </div>
        <div class="mb-4">
            <label for="data_casamento" class="block text-sm font-medium text-gray-700">Data do casamento</label>
            <input type="date" id="data_casamento" name="data_casamento" class="mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
        </div>
        <button type="submit" class="px-4 py-2 bg-blue-500 text-white rounded-md">Salvar</button>
    </form>
</div>
{% endblock %}
