{% extends 'base.html' %}
{% block 'body' %}
{% load static %}

<style>
    .card {
        background-color: #f9f6f0;
        border: 1px solid #e0e0e0;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease-in-out;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        height: 420px; /* Altura ajustada do card */
        padding: 8px; /* Espaçamento interno reduzido */
    }

    .card:hover {
        transform: scale(1.02);
    }

    .image-container {
        height: 220px; /* Aumentado para dar mais destaque à imagem */
        background-color: #ececec;
        overflow: hidden;
    }

    .card-image {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Garante que a imagem seja ajustada corretamente */
    }

    .card-content {
        padding: 12px; /* Reduzido para otimizar o espaço */
        display: flex;
        flex-direction: column;
        justify-content: flex-start; /* Alinha o conteúdo ao topo */
        flex-grow: 1;
        overflow-y: auto;
    }

    .card-title {
        font-size: 0.875rem; /* Tamanho da fonte reduzido */
        font-weight: 600;
        color: #333;
        text-align: center;
        margin-bottom: 4px; /* Espaçamento reduzido */
    }

    .reserved-text {
        font-size: 0.75rem; /* Tamanho da fonte reduzido */
        color: #666;
        text-align: center;
        margin-top: 4px;
    }

    .importance-container {
        display: flex;
        justify-content: center;
        margin-top: 4px; /* Espaçamento reduzido */
    }

    .importance-label {
        padding: 4px 6px; /* Reduzido para economizar espaço */
        font-size: 0.75rem; /* Tamanho menor */
        font-weight: 500;
        border-radius: 4px;
        display: inline-flex;
        align-items: center;
        text-align: center;
    }

    .btn {
        font-size: 0.75rem; /* Fonte menor para o botão */
        padding: 6px 10px; /* Ajuste do tamanho do botão */
    }

    .importance-label.low {
        color: #388e3c;
        background-color: #e8f5e9;
    }

    .importance-label.medium {
        color: #f57c00;
        background-color: #fff3e0;
    }

    .importance-label.high {
        color: #d32f2f;
        background-color: #ffebee;
    }

    .delete-icon {
        color: #d32f2f;
        cursor: pointer;
        font-size: 1.5rem;
        text-align: center;
        margin-top: 12px;
    }

    .delete-icon:hover {
        color: #b71c1c;
    }
    
    .welcome-message {
        background-color: #f0f4f8;
        padding: 16px;
        border-radius: 8px;
        margin-bottom: 20px;
        text-align: center;
        font-size: 1.25rem;
        font-weight: bold;
        color: #333;
    }

    

    #timer {
    display: flex;
    justify-content: center;
    gap: 16px; /* Espaçamento entre os campos */
    }

    .campo-tempo {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        border: 2px solid #6366F1; /* Cor de borda */
        border-radius: 12px; /* Borda arredondada */
        background-color: #F0F4FF; /* Cor de fundo leve */
        width: 80px; /* Largura padrão dos campos */
    }

    .valor-tempo {
        font-size: 2.5rem; /* Tamanho da fonte do valor */
        font-weight: bold;
        color: #4F46E5; /* Cor do valor */
    }

    .rotulo-tempo {
        font-size: 1rem; /* Tamanho da fonte do rótulo */
        color: #4B5563; /* Cor do rótulo */
        margin-top: 8px;
    }

   
</style>

    {% include "partials/navbar.html" %}

    <div class="max-w-7xl mx-auto mt-12">
        <div class="flex items-center space-x-6">
            <!-- Seção da Imagem -->
            <div class="w-1/3">
                {% if imagem %}
                    <img src="{{ imagem.url }}" alt="Imagem do perfil" class="rounded-lg shadow-md w-full">
                {% else %}
                    <p>Imagem não definida</p>
                {% endif %}
            </div>
            
            <!-- Seção da Mensagem de Boas-Vindas -->
            <div class="welcome-message w-2/3">
                <p>Bem-vindos, {{ nome_primeiro_conjuge }} e {{ nome_segundo_conjuge }}</p>
                <p>Nossa data</p>
                <h2 class="text-2xl font-semibold text-gray-700 mb-4">{{ data_casamento }}</h2>
                <div id="timer" class="flex justify-center space-x-4">
                    <div class="campo-tempo">
                        <span id="dias" class="valor-tempo">00</span>
                        <span class="rotulo-tempo">dias</span>
                    </div>
                    <div class="campo-tempo">
                        <span id="horas" class="valor-tempo">00</span>
                        <span class="rotulo-tempo">horas</span>
                    </div>
                    <div class="campo-tempo">
                        <span id="minutos" class="valor-tempo">00</span>
                        <span class="rotulo-tempo">minutos</span>
                    </div>
                    <div class="campo-tempo">
                        <span id="segundos" class="valor-tempo">00</span>
                        <span class="rotulo-tempo">segundos</span>
                    </div>
                </div>
            </div>
        </div>
        
        
        <div class="grid grid-cols-2 gap-4">
            <div class="bg-slate-200/20 p-6 rounded-md">
                <h2 class="text-balance text-xl font-semibold tracking-tight text-gray-900">Crie sua lista de presentes</h2>
                <br>
                <form action="{% url 'home' %}" method="POST"  enctype='multipart/form-data'>{% csrf_token %}
                    <label class="mt-4 block text-sm leading-6 text-gray-900">Nome do presente</label>
                    <input type="text" name="nome_presente" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300">
                    <div class="w-full">
                        <label class="mt-4 block text-sm leading-6 text-gray-900">Link de sugestão de compra</label>
                        <input type="url" name="link_sugestao_compra" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300" placeholder="Insira o link do produto">
                    </div>
                    <div class="w-full">
                        <label class="mt-4 block text-sm leading-6 text-gray-900">Link de cobrança</label>
                        <input type="url" name="link_cobranca" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300" placeholder="Insira o link para cobrança">
                    </div>
                    <div class="flex space-x-4">
                        <div class="w-full">
                            <label class="mt-4 block text-sm leading-6 text-gray-900">Foto de exemplo</label>
                            <input type="file" name="foto" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300">
                        </div>
                        <div class="w-full">
                            <label class="mt-4 block text-sm leading-6 text-gray-900">Preço estimado</label>
                            <input type="text" name="preco" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300">
                        </div>
                    </div>
                    <div class="flex space-x-4">
                        <div class="w-full">
                            <label class="mt-4 block text-sm leading-6 text-gray-900">Importância</label>
                            <input type="range" min="1" max="5" name="importancia" class="block w-full py-3 text-gray-900">
                        </div>
                        <div class="w-full">
                            <input type="submit" class="rounded-md w-full mt-4 bg-indigo-500 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-600">
                        </div>
                    </div>
                </form>
            </div>
            <div class="mx-auto">
                <canvas id="myChart"></canvas>
            </div>
        </div>

        <div class="grid grid-cols-5 mt-4 gap-4">
            {% for presente in presentes %}
                <div class="card">
                    <div class="image-container">
                        {% if presente.foto %}
                            <img class="card-image object-cover w-full h-full" src="{{ presente.foto.url }}" alt="{{ presente.nome_presente }}">
                        {% else %}
                            <p class="text-center text-gray-400">Sem imagem</p>
                        {% endif %}
                    </div>
                    <div class="card-content mt-4">
                        <h3 class="card-title text-lg font-semibold leading-8 text-gray-900">{{ presente.nome_presente }}</h3>
                        <p class="text-base leading-7 text-gray-600">Valor: R$ {{ presente.preco|floatformat:2 }}</p>
                        
                        {% if presente.reservado %}
                            <p class="reserved-text text-primary">Reservado por {{ presente.reservado_por }}</p>
                        {% endif %}
        
                        {% if presente.link_sugestao_compra %}
                            <a href="{{ presente.link_sugestao_compra }}" target="_blank" class="mt-2 text-indigo-600 hover:text-indigo-800">
                                Veja a sugestão de compra
                            </a>
                        {% endif %}
                        
                        <div class="importance-container mt-2">
                            {% if presente.importancia <= 2 %}
                                <span class="importance-label inline-flex items-center rounded-md bg-green-400/10 px-2 py-1 text-xs font-medium text-green-400 ring-1 ring-inset ring-green-400/30">
                                    Pouco Importante
                                </span>
                            {% elif presente.importancia < 4 %}
                                <span class="importance-label inline-flex items-center rounded-md bg-orange-400/10 px-2 py-1 text-xs font-medium text-orange-400 ring-1 ring-inset ring-orange-400/30">
                                    Importante
                                </span>
                            {% else %}
                                <span class="importance-label inline-flex items-center rounded-md bg-red-400/10 px-2 py-1 text-xs font-medium text-red-400 ring-1 ring-inset ring-red-400/30">
                                    Muito Importante
                                </span>
                            {% endif %}
                        </div>
        
                        <form action="{% url 'excluir_presente' presente.id %}" method="POST" onsubmit="return confirmarExclusao();" class="mt-4">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-sm">
                                Excluir
                            </button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="mt-8 bg-white p-6 rounded-md shadow-md">
            <h2 class="text-xl font-semibold mb-4">Presentes Reservados</h2>
            
            <table class="min-w-full border-collapse border border-gray-300">
                <thead>
                    <tr>
                        <th class="border border-gray-300 px-4 py-2 text-left">Nome do Presente</th>
                        <th class="border border-gray-300 px-4 py-2 text-left">Reservado por</th>
                        <th class="border border-gray-300 px-4 py-2 text-right">Preço</th>
                    </tr>
                </thead>
                <tbody>
                    {% for presente in presentes_reservados %}
                    <tr>
                        <td class="border border-gray-300 px-4 py-2">{{ presente.nome_presente }}</td>
                        <td class="border border-gray-300 px-4 py-2">{{ presente.reservado_por }}</td>
                        <td class="border border-gray-300 px-4 py-2 text-right">R$ {{ presente.preco|floatformat:2 }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2" class="border border-gray-300 px-4 py-2 font-semibold text-right">Total</td>
                        <td class="border border-gray-300 px-4 py-2 text-right font-semibold">R$ {{ total_reservado|floatformat:2 }}</td>
                    </tr>
                </tfoot>
            </table>
        </div>

        <div class="mt-8 bg-white p-6 rounded-md shadow-md">
            <h2 class="text-xl font-semibold mb-4">Local do Casamento</h2>
            <p>Rua: {{ perfil.rua }}, {{ perfil.numero }}, Bairro: {{ perfil.bairro }}, {{ perfil.municipio }}, {{ perfil.estado }}, {{ perfil.pais }} - Cep: {{ perfil.cep }}</p>
        </div>

        <div id="map" style="width: 100%; height: 400px;"></div>

        <br>
        
    </div>

    

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyArufezJ1vUqr_syuLuz7ZKDXmzlxVXu88&callback=initMap&v={{ timestamp }}" 
    async defer></script>
    
    <script>
        function confirmarExclusao() {
            return confirm("Tem certeza que deseja excluir este presente?");
        }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        function initMap() {
            // Obtendo o endereço do casamento
            const endereco = "{{ perfil.rua }}, {{ perfil.numero }}, {{ perfil.bairro }}, {{ perfil.municipio }}, {{ perfil.estado }}";
            
            // Usando o Geocoder do Google Maps para obter as coordenadas a partir do endereço
            const geocoder = new google.maps.Geocoder();
            
            geocoder.geocode({ 'address': endereco }, function(results, status) {
                if (status === 'OK') {
                    // Criando o mapa centrado no local
                    const map = new google.maps.Map(document.getElementById('map'), {
                        zoom: 15,
                        center: results[0].geometry.location
                    });

                    // Marcando o local no mapa
                    const marker = new google.maps.Marker({
                        map: map,
                        position: results[0].geometry.location
                    });
                } else {
                    alert('Geocode não foi bem-sucedido: ' + status);
                }
            });
        }


        const ctx = document.getElementById('myChart');
    
        new Chart(ctx, {
        type: 'pie',
        data: {
            labels: ['Não reservado', 'Reservado'],
            datasets: [{
            label: 'Presentes',
            data: JSON.parse('{{ data | safe }}'),
            borderWidth: 1
            }]
        },
        options: {
            scales: {
            y: {
                beginAtZero: true
            }
            }
        }
        });




        const dataCasamento = "{{ data_casamento|date:'Y-m-d' }}";

        function iniciarContador() {
            if (!dataCasamento || isNaN(new Date(dataCasamento))) {
                console.error("A data de casamento fornecida é inválida.");
                return;
            }

            const fim = new Date(dataCasamento).getTime();

            if (!document.getElementById("dias") || 
                !document.getElementById("horas") || 
                !document.getElementById("minutos") || 
                !document.getElementById("segundos")) {
                console.error("Elementos do contador não encontrados no HTML.");
                return;
            }

            const contador = setInterval(() => {
                const agora = Date.now();
                const tempoRestante = fim - agora;

                if (tempoRestante <= 0) {
                    clearInterval(contador);
                    document.getElementById("timer").innerHTML = `
                        <div style="font-size: 2rem; font-weight: bold; color: green;">
                            O grande dia chegou!
                        </div>`;
                    return;
                }

                const tempo = {
                    dias: Math.floor(tempoRestante / (1000 * 60 * 60 * 24)),
                    horas: Math.floor((tempoRestante / (1000 * 60 * 60)) % 24),
                    minutos: Math.floor((tempoRestante / (1000 * 60)) % 60),
                    segundos: Math.floor((tempoRestante / 1000) % 60)
                };

                for (const unidade in tempo) {
                    document.getElementById(unidade).innerText = String(tempo[unidade]).padStart(2, '0');
                }
            }, 1000);
        }

        document.addEventListener("DOMContentLoaded", iniciarContador);        

    </script>
    
    
{% endblock %}
