{% extends 'base.html' %}
{% block 'body' %}
{% load static %}

<style>
    h2 {
        color: #8B4513;
    }

    .cor-vermelho {
        color: #be1c3cfd;
    }


    /* Estilo para o botão de buscar */
    .btn-danger {
        background-color: #be1c3cfd;
        border-color: #be1c3cfd;
    }

    .btn-danger:hover {
        background-color: #DC143C;
        border-color: #DC143C;
    }

    .card-img-container {
        height: 200px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        
        border-radius: 8px 8px 0 0; /* Bordas arredondadas apenas no topo */
    }

    .card-img-container img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
        border-radius: 8px 8px 0 0; /* Bordas arredondadas apenas no topo */
    }

    
    /* Estiliza a barra de progresso */
    .range-slider {
        -webkit-appearance: none;
        width: 100%;
        height: 6px;
        background: #be1c3cfd; /* Cor do botão */
        border-radius: 5px;
        outline: none;
        opacity: 0.9;
        transition: opacity .2s;
    }

    /* Quando o usuário passa o mouse */
    .range-slider:hover {
        opacity: 1;
    }

    /* Personaliza o botão deslizante no Chrome */
    .range-slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 16px;
        height: 16px;
        background: #be1c3cfd; /* Cor do botão */
        border-radius: 50%;
        cursor: pointer;
    }

    /* Personaliza o botão deslizante no Firefox */
    .range-slider::-moz-range-thumb {
        width: 16px;
        height: 16px;
        background: #be1c3cfd; /* Cor do botão */
        border-radius: 50%;
        cursor: pointer;
    }

    .card-img-top {
        width: 100%;         /* Faz a imagem ocupar toda a largura do card */
        height: 200px;       /* Altura fixa (ajuste conforme necessário) */
        object-fit: cover;   /* Faz a imagem cobrir o espaço sem distorcer */
        border-radius: 8px;  /* Opcional: bordas arredondadas */
    }

    .edit-icon {
        position: absolute;
        top: 10px;
        right: 10px;
        background: rgba(255, 255, 255, 0.7); /* Fundo semi-transparente */
        padding: 5px;
        border-radius: 50%;
        font-size: 18px;
        color: #be1c3cfd; /* Cor vermelha para combinar com o tema */
        text-decoration: none;
        transition: background 0.3s ease, transform 0.2s ease;
    }

    .edit-icon:hover {
        background: rgba(255, 255, 255, 1);
        transform: scale(1.1);
    }

    

    .foto-quadrada {
            width: 100%;
            height: 310px;  /* Ajuste a altura conforme necessário */
            position: relative;
            overflow: hidden;
        }

        .foto-quadrada img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .overlay-icon {
            position: absolute;
            top: 10px;
            right: 10px;
            background-color: rgba(0, 0, 0, 0.5);
            color: white;
            padding: 5px;
            border-radius: 50%;
        }

        .overlay-icon i {
            font-size: 20px;
        }

        .container {
            max-width: 1100px; /* Reduza conforme necessário */
        }


    
</style>
    
    

    {% include "partials/navbar.html" %}

    <div class="container mt-5" style="padding-top: 56px;">
        <div class="row align-items-center">
            <!-- Seção da Imagem -->
            <div class="col-12 col-md-4 mb-4 mb-md-0">
                {% if imagem %}
                    <img src="{{ imagem.url }}" alt="Imagem do perfil" class="img-fluid rounded shadow">
                {% else %}
                    <p class="text-center">Imagem não definida</p>
                {% endif %}
            </div>
    
            <!-- Seção da Mensagem de Boas-Vindas -->
            <div class="col-12 col-md-8 fs-4 mb-4 text-center">
                <h5 class="cor-vermelho">Bem-vindos, {{ nome_primeiro_conjuge }} e {{ nome_segundo_conjuge }}</h5>
                <h4 class="cor-vermelho">Nossa data</h4>
                <h3 class="mb-4 cor-vermelho">{{ data_casamento|date:"d/m/Y" }} às {{ horario_casamento|time:"H:i" }}</h3>
    
                <!-- Contador regressivo -->
                <div id="timer" class="d-flex justify-content-center gap-3">
                    <div class="campo-tempo">
                        <span id="dias" class="valor-tempo">00</span>
                        <span class="rotulo-tempo">Dias</span>
                    </div>
                    <div class="campo-tempo">
                        <span id="horas" class="valor-tempo">00</span>
                        <span class="rotulo-tempo">Horas</span>
                    </div>
                    <div class="campo-tempo">
                        <span id="minutos" class="valor-tempo">00</span>
                        <span class="rotulo-tempo">Minutos</span>
                    </div>
                    <div class="campo-tempo">
                        <span id="segundos" class="valor-tempo">00</span>
                        <span class="rotulo-tempo">Segundos</span>
                    </div>
                </div>
            </div>
        </div>
        
        
        <div class="row bg-light mt-5">
            <!-- Formulário -->
            <div class="col-md-6 p-4 rounded">
                <h2 class="Comfortaa-Bold text-center text-4xl font-semibold cor-marrom mb-4">Crie sua lista de presentes</h2>
                <form action="{% url 'home' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="nome_presente" class="form-label cor-marrom">Nome do presente</label>
                        <input type="text" name="nome_presente" class="form-control" id="nome_presente">
                    </div>
            
                    <div class="mb-3">
                        <label for="link_presente" class="form-label cor-marrom">Link do presente</label>
                        <div class="input-group">
                            <input type="url" name="link_sugestao_compra" class="form-control" id="link_presente" placeholder="Insira o link do produto">
                            <button type="button" id="buscar_detalhes" class="btn btn-danger rounded-pill">Buscar</button>
                        </div>
                    </div>
            
                    <!-- Área para exibir a miniatura da imagem -->
                    <div class="mb-3 text-center">
                        <img id="preview_imagem" src="" alt="Imagem do produto" class="img-thumbnail mt-2 d-none" style="width: 128px; height: 128px;">
                    </div>
            
                    <div class="mb-3">
                        <label for="link_cobranca" class="form-label cor-marrom">Link de cobrança</label>
                        <input type="url" name="link_cobranca" class="form-control" id="link_cobranca" placeholder="Insira o link para cobrança">
                    </div>
            
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="foto_presente" class="form-label cor-marrom">Foto de exemplo</label>
                            <input type="file" name="foto" class="form-control" id="foto_presente">
                            <img id="preview_imagem_upload" class="img-thumbnail mt-2 d-none" style="width: 128px; height: 128px;">
                            <input type="hidden" name="imagem_url" id="imagem_url">
                        </div>
                        <div class="col-md-6">
                            <label for="preco_presente" class="form-label cor-marrom">Preço estimado</label>
                            <input type="text" name="preco" class="form-control" id="preco_presente">
                        </div>
                    </div>
            
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="importancia" class="form-label cor-marrom">Importância</label>
                            <input type="range" min="1" max="5" name="importancia" class="form-range" id="importancia">
                        </div>
                        <div class="col-md-6 d-flex align-items-end">
                            <button type="submit" class="btn btn-danger w-100 rounded-pill">Enviar</button>
                        </div>
                    </div>
                </form>
            </div>
        
            <!-- Gráfico -->
            <div class="col-md-6 mt-5 text-center">
                <canvas class="text-center" id="myChart"></canvas>
            </div>
        </div>
        
        <br>

        <h2 class="Comfortaa-Bold text-center display-4 cor-marrom">Lista de presentes</h2>

        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 mt-4">
            {% for presente in presentes %}
            <div class="col">
                <div class="card h-100 position-relative">
                    <!-- Container da imagem com altura fixa e proporção quadrada -->
                    <div class="card-img-container" style="height: 200px; overflow: hidden; display: flex; align-items: center; justify-content: center;">
                        {% if presente.foto %}
                        <img src="{{ presente.foto.url }}" alt="{{ presente.nome_presente }}" class="card-img-top" style="max-width: 100%; max-height: 100%; object-fit: contain;">
                        <!-- Ícone de edição -->
                        <a href="#" class="edit-icon" onclick="abrirModal(
                            '{{ presente.id }}', 
                            '{{ presente.nome_presente }}', 
                            '{{ presente.link_sugestao_compra }}', 
                            '{{ presente.link_cobranca }}', 
                            '{{ presente.preco }}'
                        )">
                            <i class="fas fa-edit"></i>
                        </a>
                        {% else %}
                        <div class="d-flex align-items-center justify-content-center h-100 bg-light">
                            <p class="text-muted">Sem imagem</p>
                        </div>
                        {% endif %}
                    </div>
        
                    <!-- Corpo do card -->
                    <div class="card-body d-flex flex-column">
                        <h3 class="card-title cor-vermelho">{{ presente.nome_presente }}</h3>
                        <p class="card-text cor-vermelho">Valor: R$ {{ presente.preco|floatformat:2 }}</p>
                        {% if presente.reservado %}
                        <p class="card-text cor-marrom">Reservado por: {{ presente.reservado_por }}</p>
                        {% endif %}
                        {% if presente.link_sugestao_compra %}
                        <a href="{{ presente.link_sugestao_compra }}" target="_blank" class="cor-vermelho text-decoration-underline">
                            Veja a sugestão de compra
                        </a>
                        {% endif %}
                        <div class="mt-2">
                            {% if presente.importancia <= 2 %}
                            <span class="importance-label low">
                                Pouco importante
                                <i class="fas fa-times-circle ms-1"></i>
                            </span>
                            {% elif presente.importancia < 4 %}
                            <span class="importance-label medium">
                                Importante
                                <i class="fas fa-times-circle ms-1"></i>
                            </span>
                            {% else %}
                            <span class="importance-label high">
                                Muito importante
                                <i class="fas fa-times-circle ms-1"></i>
                            </span>
                            {% endif %}
                        </div>
                        <!-- Formulário de exclusão -->
                        <form action="{% url 'excluir_presente' presente.id %}" method="POST" onsubmit="return confirmarExclusao();" class="mt-auto">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-sm w-100 rounded-pill">
                                Excluir
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <!-- Modal de Edição -->
        <div id="editPresenteModal" class="modal fade" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title cor-vermelho">Editar Presente</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="editPresenteForm" method="POST">
                            {% csrf_token %}
                            <input type="hidden" id="presenteId" name="presente_id">
                            
                            <div class="mb-3">
                                <label class="form-label">Nome do presente</label>
                                <input type="text" id="editNome" name="nome_presente" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Link de sugestão de compra</label>
                                <input type="url" id="editLinkSugestao" name="link_sugestao_compra" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Link de cobrança</label>
                                <input type="url" id="editLinkCobranca" name="link_cobranca" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Preço estimado</label>
                                <input type="text" id="editPreco" name="preco" class="form-control">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" form="editPresenteForm" class="btn btn-primary">Salvar alterações</button>
                    </div>
                </div>
            </div>
        </div>
        
        
        
        
        

        <div class="mt-5 bg-white p-4 rounded shadow-sm">
            <h2 class="Comfortaa-Bold text-center display-4 cor-marrom mb-4">Presentes Reservados</h2>
            
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead class="table-light">
                        <tr>
                            <th class="text-start">Nome do Presente</th>
                            <th class="text-start">Reservado por</th>
                            <th class="text-end">Preço</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for presente in presentes_reservados %}
                        <tr class="hover:bg-gray-50">  <!-- Mantido hover personalizado -->
                            <td>{{ presente.nome_presente }}</td>
                            <td>{{ presente.reservado_por }}</td>
                            <td class="text-end">R$ {{ presente.preco|floatformat:2 }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot class="table-light">
                        <tr>
                            <td colspan="2" class="text-end fw-bold">Total</td>
                            <td class="text-end fw-bold">R$ {{ total_reservado|floatformat:2 }}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        


        <div class="container mt-5">
            <h2 class="Comfortaa-Bold text-center text-4xl font-semibold cor-marrom mb-4">Galeria de fotos</h2>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
                {% for imagem in perfil.galeria.all|slice:":6" %}  <!-- Limita para 6 imagens -->
                    <div class="col">
                        <div class="foto-quadrada">
                            <img src="{{ imagem.imagem.url }}" class="img-fluid rounded" alt="Imagem da galeria">
                            <div class="overlay-icon">
                                <a href="#" data-bs-toggle="modal" data-bs-target="#substituirImagemModal" data-id="{{ imagem.id }}" class="trocar-imagem">
                                    <i class="bi bi-pencil text-white"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <p class="text-center">Nenhuma imagem na galeria.</p>
                {% endfor %}
            </div>
        </div>


        <div class="mb-5 mt-5">
            <h2 class="Comfortaa-Bold text-center display-4 cor-marrom">Sobre nós</h2>
            <div class="row mt-4 justify-content-center"> <!-- Centraliza as colunas -->
                <!-- Coluna para a noiva -->
                <div class="col-md-5 mb-4 mx-2">
                    <div class="foto-quadrada position-relative">
                        <img src="{{ imagem_noiva.url }}" class="img-fluid rounded" alt="Imagem da noiva">
                        <div class="overlay-icon">
                            <a href="#" data-bs-toggle="modal" data-bs-target="#editarImagemModal" data-id="{{ imagem_noiva.id }}" class="trocar-imagem">
                                <i class="bi bi-pencil text-white"></i>
                            </a>
                        </div>
                    </div>
                    <h2 class="text-center display-6 mt-4 mb-2">A Noiva</h2>
                    <p class="fst-italic cor-marrom text-center lead">{{ mensagem_noiva }}</p>
                </div>
        
                <!-- Coluna para o noivo -->
                <div class="col-md-5 mb-4 mx-2">
                    <div class="foto-quadrada position-relative">
                        <img src="{{ imagem_noivo.url }}" class="img-fluid rounded" alt="Imagem do noivo">
                        <div class="overlay-icon">
                            <a href="#" data-bs-toggle="modal" data-bs-target="#editarImagemModal" data-id="{{ imagem_noivo.id }}" class="trocar-imagem">
                                <i class="bi bi-pencil text-white"></i>
                            </a>
                        </div>
                    </div>
                    <h2 class="text-center display-6 mt-4 mb-2">O Noivo</h2>
                    <p class="fst-italic cor-marrom text-center lead">{{ mensagem_noivo }}</p>
                </div>
            </div>
        </div>
        
        <!-- Botão para abrir o modal de edição de mensagens -->
        <div class="text-center mb-5">
            <a href="#" data-bs-toggle="modal" data-bs-target="#editarMensagemModal" class="btn btn-primary">
                <i class="bi bi-pencil"></i> Editar Mensagens
            </a>
        </div>
        
        <!-- Modal para editar mensagens -->
        <div class="modal fade" id="editarMensagemModal" tabindex="-1" aria-labelledby="editarMensagemModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editarMensagemModalLabel">Editar Mensagens</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                    </div>
                    <div class="modal-body">
                        <form method="POST" action="{% url 'editar_mensagem' %}">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="mensagem_noiva" class="form-label">Mensagem sobre a Noiva</label>
                                <textarea class="form-control" id="mensagem_noiva" name="mensagem_noiva" rows="3">{{ mensagem_noiva }}</textarea>
                            </div>
                            <div class="mb-3">
                                <label for="mensagem_noivo" class="form-label">Mensagem sobre o Noivo</label>
                                <textarea class="form-control" id="mensagem_noivo" name="mensagem_noivo" rows="3">{{ mensagem_noivo }}</textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Salvar Mensagens</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Modal para editar imagem -->
        <div class="modal fade" id="editarImagemModal" tabindex="-1" aria-labelledby="editarImagemModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editarImagemModalLabel">Substituir fotos dos noivos</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                    </div>
                    <div class="modal-body">
                        <form method="POST" action="{% url 'substituir_imagem_noivos' %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="imagem_noiva" class="form-label">Foto da noiva</label>
                                <input type="file" class="form-control" id="imagem_noiva" name="imagem_noiva">
                            </div>
                            <div class="mb-3">
                                <label for="imagem_noivo" class="form-label">Foto do noivo</label>
                                <input type="file" class="form-control" id="imagem_noivo" name="imagem_noivo">
                            </div>
                            <button type="submit" class="btn btn-primary">Salvar Imagens</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Modal de Substituição de Imagem -->
        <div class="modal fade" id="substituirImagemModal" tabindex="-1" aria-labelledby="substituirImagemModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="substituirImagemModalLabel">Substituir Imagem</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Escolha uma nova imagem para substituir.</p>
                        <input type="hidden" name="imagem_id" id="imagem_id">
                        <div class="row">
                            {% for imagem in todas_imagens %}
                                <div class="col-4 mb-3">
                                    <img src="{{ imagem.imagem.url }}" class="img-thumbnail select-image" 
                                         data-id="{{ imagem.id }}" data-url="{{ imagem.imagem.url }}" style="cursor:pointer;">
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <section id="mensagens-recebidas" class="py-5">
            <div class="container">
                <div class="text-center">
                    <h2 class="Comfortaa-Bold display-4 cor-marrom mb-4">Mensagens Recebidas</h2>
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            {% for mensagem in mensagens %}
                                <div class="card mb-4 shadow-sm" style="height: 200px; overflow: hidden; display: flex; flex-direction: column;">
                                    <div class="card-body d-flex flex-column" style="flex: 1; overflow: hidden;">
                                        <div class="d-flex align-items-center mb-3">
                                            <div class="me-3">
                                                {% if mensagem.escrita_por.foto_perfil %}
                                                    <img src="{{ mensagem.escrita_por.foto_perfil.url }}" alt="Foto do Convidado" class="rounded-circle" style="width: 50px; height: 50px;">
                                                {% else %}
                                                    <i class="fas fa-user text-info fa-3x"></i>
                                                {% endif %}
                                            </div>
                                            <div>
                                                <p class="card-title h5 mb-1">{{ mensagem.escrita_por.nome_convidado }}</p>
                                                <p class="text-muted small mb-0">{{ mensagem.data_envio|date:"d/m/Y H:i" }}</p>
                                            </div>
                                        </div>
                                        <div class="card-text text-muted" style="flex: 1; overflow-y: auto; max-height: 150px;">
                                            {{ mensagem.texto_mensagem|safe }}
                                        </div>
                                    </div>
                                </div>
                            {% empty %}
                                <p class="text-muted">Nenhuma mensagem recebida ainda.</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
         

        <br>
        
    </div>
    
    <div class="container-fluid mt-5" style="position: relative; left: 0; right: 0;">
        <div class="" style="border-radius: 0; width: 100%;">
            <div class="text-center">
                <h2 class="Comfortaa-Bold display-4 cor-marrom mb-4"><i class="bi bi-geo-alt me-2"></i>Local</h2>
                <p class="cor-vermelho">Rua: {{ perfil.rua }}, {{ perfil.numero }}, Bairro: {{ perfil.bairro }}, {{ perfil.municipio }}, {{ perfil.estado }}, {{ perfil.pais }} - Cep: {{ perfil.cep }}</p>
                <hr>
                <div id="map" class="container-fluid mt-4" style="width: 100%; height: 400px;"></div>
            </div>
        </div>
    </div> 
    <br>
    <footer class="text-center bg-dark py-4">
        <!-- Copyright -->
        <div class="container">
            <div class="text-white mb-2">
                {{ perfil.nome_primeiro_conjuge }} & {{ perfil.nome_segundo_conjuge }}
            </div>
            <div class="text-white mb-2">
                {{ data_casamento|date:"d/m/Y" }}
            </div>
            <div class="text-white">
                © 2025 Todos os direitos reservados.
            </div>
        </div>
        <!-- Copyright -->
    </footer>

    <!-- Botão para rolar até o topo -->
    <button id="scrollToTopBtn" title="Voltar ao topo">↑</button>    

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyArufezJ1vUqr_syuLuz7ZKDXmzlxVXu88&callback=initMap&v={{ timestamp }}" 
    async defer></script>
    
    <script>
        function confirmarExclusao() {
            return confirm('Tem certeza que deseja excluir este presente?');
        }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        function abrirModal(id, nome, linkSugestao, linkCobranca, preco) {
            document.getElementById('presenteId').value = id;
            document.getElementById('editNome').value = nome;
            document.getElementById('editLinkSugestao').value = linkSugestao;
            document.getElementById('editLinkCobranca').value = linkCobranca;
            document.getElementById('editPreco').value = preco;

            const modal = new bootstrap.Modal(document.getElementById('editPresenteModal'));
            modal.show();
        }

        function fecharModal() {
            document.getElementById("editPresenteModal").classList.add("hidden");
        }


        function initMap() {
            // Obtendo o endereço do casamento
            const endereco = "{{ perfil.rua }}, {{ perfil.numero }}, {{ perfil.bairro }}, {{ perfil.municipio }}, {{ perfil.estado }}";
            
            // Usando o Geocoder do Google Maps para obter as coordenadas a partir do endereço
            const geocoder = new google.maps.Geocoder();
            
            geocoder.geocode({ 'address': endereco }, function(results, status) {
                if (status === 'OK') {
                    // Criando o mapa centrado no local
                    const map = new google.maps.Map(document.getElementById('map'), {
                        zoom: 15,
                        center: results[0].geometry.location
                    });

                    // Marcando o local no mapa
                    const marker = new google.maps.Marker({
                        map: map,
                        position: results[0].geometry.location
                    });
                } else {
                    alert('Geocode não foi bem-sucedido: ' + status);
                }
            });
        }


        const ctx = document.getElementById('myChart');
    
        new Chart(ctx, {
        type: 'pie',
        data: {
            labels: ['Não reservado', 'Reservado'],
            datasets: [{
            label: 'Presentes',
            data: JSON.parse('{{ data | safe }}'),
            backgroundColor: ['#8B4513', '#be1c3cfd'], // Cores personalizadas
            borderWidth: 1
            }]
        },
        options: {
            scales: {
            y: {
                beginAtZero: true
            }
            }
        }
        });




        const dataCasamento = "{{ data_casamento|date:'Y-m-d' }}";
        const horarioCasamento = "{{ horario_casamento|time:'H:i:s' }}";

        function iniciarContador() {
            if (!dataCasamento || !horarioCasamento) {
                console.error("A data ou o horário do casamento não foram fornecidos.");
                return;
            }

            // Criando a string completa da data e hora
            const casamentoDataHora = new Date(`${dataCasamento}T${horarioCasamento}`);
            const fim = casamentoDataHora.getTime();

            if (isNaN(fim)) {
                console.error("A data e hora do casamento são inválidas.");
                return;
            }

            const contador = setInterval(() => {
                const agora = new Date().getTime();
                const tempoRestante = fim - agora;

                if (tempoRestante <= 0) {
                    clearInterval(contador);
                    document.getElementById("timer").innerHTML = `
                        <div style="font-size: 2rem; font-weight: bold; color: green;">
                            O grande dia chegou!
                        </div>`;
                    return;
                }

                const tempo = {
                    dias: Math.floor(tempoRestante / (1000 * 60 * 60 * 24)),
                    horas: Math.floor((tempoRestante / (1000 * 60 * 60)) % 24),
                    minutos: Math.floor((tempoRestante / (1000 * 60)) % 60),
                    segundos: Math.floor((tempoRestante / 1000) % 60)
                };

                for (const unidade in tempo) {
                    document.getElementById(unidade).innerText = String(tempo[unidade]).padStart(2, '0');
                }
            }, 1000);
        }

        document.addEventListener("DOMContentLoaded", iniciarContador);


        document.addEventListener("DOMContentLoaded", function () {
            let imagemSelecionada = null;

            document.querySelectorAll(".trocar-imagem").forEach(botao => {
                botao.addEventListener("click", function () {
                    imagemSelecionada = this.closest(".foto-quadrada").querySelector("img");
                    document.getElementById("imagem_id").value = this.dataset.id;
                });
            });

            document.querySelectorAll(".select-image").forEach(imagem => {
                imagem.addEventListener("click", function () {
                    if (imagemSelecionada) {
                        imagemSelecionada.src = this.dataset.url;
                        let formData = new FormData();
                        formData.append("imagem_id", document.getElementById("imagem_id").value);
                        formData.append("nova_imagem_id", this.dataset.id);

                        fetch("{% url 'substituir_imagem' %}", {
                            method: "POST",
                            body: formData,
                            headers: {
                                "X-CSRFToken": "{{ csrf_token }}"
                            }
                        }).then(response => response.json())
                        .then(data => {
                            if (data.sucesso) {
                                // Fecha o modal corretamente
                                let modal = document.getElementById("substituirImagemModal");
                                let modalInstance = bootstrap.Modal.getInstance(modal);
                                modalInstance.hide();

                                // Remove fundo escuro
                                document.querySelectorAll(".modal-backdrop").forEach(el => el.remove());
                                document.body.classList.remove("modal-open");

                                // Opcional: Recarrega a página para garantir atualização completa
                                setTimeout(() => {
                                    location.reload();
                                }, 500);
                            } else {
                                alert("Erro ao atualizar imagem.");
                            }
                        });
                    }
                });
            });
        });

        // Obter o botão
        var mybutton = document.getElementById("scrollToTopBtn");

        // Quando o usuário rolar para baixo 20px da parte superior da página, mostre o botão
        window.onscroll = function() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        };

        // Quando o usuário clicar no botão, rolar para o topo da página
        mybutton.onclick = function() {
            window.scrollTo({
                top: 0,
                behavior: "smooth" // Rolagem suave
            });
        };


        document.addEventListener("DOMContentLoaded", function () {
            const btnBuscar = document.getElementById("buscar_detalhes");
            const inputLink = document.getElementById("link_presente");
            const inputNome = document.querySelector('input[name="nome_presente"]');
            const inputPreco = document.querySelector('input[name="preco"]');
            const imgPreview = document.getElementById("preview_imagem");

            btnBuscar.addEventListener("click", function () {
                const url = inputLink.value.trim();

                if (!url) {
                    alert("Por favor, insira um link do Mercado Livre.");
                    return;
                }

                fetch(`/noivos/buscar_produto/?url=${encodeURIComponent(url)}`)
                    .then(response => response.json())
                    .then(data => {
                        if (data.error) {
                            alert(data.error);
                        } else {
                            inputNome.value = data.nome;
                            inputPreco.value = data.preco;
                            imgPreview.src = data.imagem; // Define a imagem retornada pela API
                            imgPreview.classList.remove("d-none"); // Exibe a imagem
                        }
                    })
                    .catch(error => console.error("Erro na requisição:", error));
            });
        });


       



    </script>
    
    
{% endblock %}