{% extends "base.html" %}
{% load static %}
{% block 'body' %}
    {% include "partials/navbar.html" %}

    <!-- Bloco de mensagens -->
    <div class="max-w-7xl mx-auto mt-12">
      {% if messages %}
          <div class="max-w-7xl mx-auto mt-12">
              {% for message in messages %}
                  <div class="alert {{ message.tags }}">
                      {{ message }}
                  </div>
              {% endfor %}
          </div>
      {% endif %}

      
      <div class="max-w-7xl mx-auto mt-12">
          <div class="grid gap-4 grid-cols-2">
              <div class="bg-slate-200/20 p-6 rounded-md">
                <form action="{% url 'lista_convidados' %}" method="POST">{% csrf_token %}
                  <h2 class="text-balance text-xl font-semibold tracking-tight text-gray-900">Cadastre seus convidados</h2>
                  <br>
                  <label class="mt-4 block text-sm leading-6 text-gray-900">Nome do convidado</label>
                  <input type="text" name="nome_convidado" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                  
                  <div class="grid grid-cols-2 gap-2">
                      <div>
                          <label class="mt-4 block text-sm leading-6 text-gray-900">WhatsApp</label>
                          <input type="text" name="whatsapp" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                      </div>
                      <div>
                          <label class="mt-4 block text-sm leading-6 text-gray-900">Máximo de acompanhantes</label>
                          <input type="number" name="maximo_acompanhantes" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                      </div>
                      <input type="submit" class="rounded-md mt-4 bg-indigo-500 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-400" value="Adicionar convidado">
                  </div>
                </form>
                <br>
                <hr>
                <br>
                
                <div class="grid grid-cols-2 mt-8">
                  <form action="{% url 'exportar_convidados_excel' %}" method="get">
                    <button type="submit" class="rounded-md bg-green-500 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-green-400">
                        Exportar Convidados para Excel
                    </button>
                  </form>
                </div>
                <br>
                <div class="bg-slate-200/20 p-6 rounded-md">
                  <!-- Formulário para cadastro em lote -->
                  <form action="{% url 'cadastrar_convidados_em_lote' %}" method="POST" enctype="multipart/form-data">
                      {% csrf_token %}
                      <h2 class="text-xl font-semibold tracking-tight text-gray-900">Cadastrar convidados em lote</h2>
                      <br>
                      <!-- Botão para download do arquivo de exemplo -->
                      <button class="btn-outline-light">
                      <a href="{% static 'noivos/excel/arquivo_exemplo.xlsx' %}" download>
                        Baixar Arquivo de Exemplo
                      </a>
                      </button>
                      <br>
                      <label for="arquivo_convidados" class="block text-sm font-medium text-gray-700">Escolha um arquivo (CSV ou Excel)</label>
                      <input type="file" name="arquivo_convidados" id="arquivo_convidados" accept=".csv, .xlsx" required class="mt-2 block w-full text-sm text-gray-900">
                      <button type="submit" class="rounded-md mt-4 bg-blue-500 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-blue-400">Enviar</button>
                  </form>
                  
                </div>

                
                <!-- Modal -->
                <div class="modal fade" id="modalEnviarMensagens" tabindex="-1" aria-labelledby="modalEnviarMensagensLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalEnviarMensagensLabel">Selecionar Convidados para Envio de Mensagem</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <!-- Campo para mensagem personalizada -->
                                <label for="mensagemPersonalizada" class="block text-sm font-medium text-gray-700">Mensagem personalizada</label>
                                <textarea id="mensagemPersonalizada" name="mensagemPersonalizada" rows="4" class="mt-1 block w-full text-sm text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-indigo-600 sm:text-sm sm:leading-6" placeholder="Digite sua mensagem aqui...">{{ mensagem }}</textarea>
                                <small class="text-gray-500">Use as palavras-chave {nome} e {link} para personalizar a mensagem.</small>

                                <br><br>

                                <!-- Campo para upload de arquivo -->
                                <label for="arquivo" class="block text-sm font-medium text-gray-700">Anexar Imagem ou PDF</label>
                                <input type="file" id="arquivo" name="arquivo" accept=".pdf, .jpg, .jpeg, .png" class="mt-1 block w-full text-sm text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-indigo-600 sm:text-sm sm:leading-6">
                                <!-- Pré-visualização da imagem -->
                                {% if mensagem and mensagem.arquivo_base64 %}
                                <div>
                                    <label class="block text-sm font-medium text-gray-700">Pré-visualização da Imagem</label>
                                    <img src="data:image/png;base64,{{ mensagem.arquivo_base64 }}" alt="Prévia da imagem" class="mt-2 block w-20 h-20 object-contain">
                                </div>
                                {% endif %}

                                <br><br>
                                <!-- Botões para adicionar variáveis padrões -->
                                <button type="button" class="bg-indigo-500 text-white px-2 py-1 rounded-md" onclick="adicionarVariavel('{nome}')">Adicionar {nome}</button>
                                <button type="button" class="bg-indigo-500 text-white px-2 py-1 rounded-md" onclick="adicionarVariavel('{link}')">Adicionar {link}</button>
                                <button type="button" id="salvarMensagemBtn" class="rounded-md bg-blue-500 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-blue-400">
                                    Salvar Mensagem
                                    </button>
                                
                                <br><br>
                                <!-- Tabela de convidados -->
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th><input type="checkbox" id="selectAll"></th>
                                            <th>Nome</th>
                                            <th>Whatsapp</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for convidado in nao_confirmados %}
                                        <tr>
                                            <td><input type="checkbox" class="convidado-checkbox" data-id="{{ convidado.id }}"></td>
                                            <td>{{ convidado.nome_convidado }}</td>
                                            <td>{{ convidado.whatsapp }}</td>
                                            <td>{{ convidado.get_status_display }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                
                                <button type="button" id="enviarMensagensBtn" class="rounded-md bg-green-500 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-green-400" disabled>
                                Enviar WhatsApp
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

              
              

              <!-- Lista de convidados -->
              <div class="">
                <!-- Botão para abrir o modal -->
                <div class="grid grid-cols-2 mt-8">
                  <button type="button" class="rounded-md bg-green-500 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-green-400" data-bs-toggle="modal" data-bs-target="#modalEnviarMensagens">
                      <i class="fab fa-whatsapp me-2"></i> Enviar WhatsApp
                  </button>
                </div>
                <br>
                  <ul role="list" class="divide-y divide-gray-100">
                      {% for convidado in convidados %}
                      <div class="border">
                        <div class="mb-4 ml-4 mr-4">
                          <li class="flex items-center justify-between gap-x-6 py-5">
                            <div class="flex min-w-0 gap-x-4">
                              <img class="h-12 w-12 flex-none rounded-full bg-gray-50" src="{% static 'noivos/img/default.png' %}" alt="">
                              <div class="min-w-0 flex-auto">
                                <p class="text-sm font-semibold leading-6 text-gray-900">{{ convidado.nome_convidado }}</p>
                                <p class="mt-1 truncate text-xs leading-5 text-gray-500">{{ convidado.whatsapp }}</p>
                                <p class="mt-1 text-xs leading-5 text-gray-500">{{ convidado.link_convite }}</p>
                                <p class="mt-1 text-xs leading-5 text-gray-700">Máximo de acompanhantes permitidos: {{ convidado.maximo_acompanhantes }}</p>

                                {% if convidado.status == 'C' %}
                                  <div class="mt-2 text-sm text-gray-700">
                                      <strong>Acompanhantes:</strong>
                                      <ul class="ml-4 list-disc">
                                          {% for acompanhante in convidado.acompanhantes.all %}
                                              <li>{{ acompanhante.nome }}</li>
                                          {% empty %}
                                              <li>Sem acompanhantes</li>
                                          {% endfor %}
                                      </ul>
                                  </div>
                                {% endif %}
                              </div>
                            </div>
                            <span class="inline-flex items-center rounded-md px-2 py-1 text-xs font-medium ring-1 ring-inset {% if convidado.status == 'AC' %}text-indigo-700 bg-indigo-50 ring-indigo-600/20{% elif convidado.status == 'C'%}text-green-700 bg-green-50 ring-green-600/20{% else %}text-red-700 bg-red-50 ring-red-600/20{% endif %}">{{ convidado.get_status_display }}</span>
                          </li>
                          <button class="btn btn-danger">
                              <a href="{% url 'excluir_convidado' convidado.id %}" 
                                onclick="return confirm('Tem certeza que deseja excluir este convidado? Verifique se ele não possui presentes reservados.')">
                                Excluir
                              </a>
                          </button>
                        </div>
                      </div>
                        <br>
                      {% endfor %}
                  </ul>
              </div>
              
          </div>
      </div>
    </div>
    <script>
        // Selecionar/Deselecionar todos os checkboxes
        document.getElementById('selectAll').addEventListener('change', function () {
            const checkboxes = document.querySelectorAll('.convidado-checkbox');
            checkboxes.forEach(checkbox => {
                checkbox.checked = this.checked;
            });
        });

        // Função para adicionar a variável no campo de mensagem personalizada
        function adicionarVariavel(variavel) {
            var mensagemCampo = document.getElementById('mensagemPersonalizada');
            mensagemCampo.value += ' ' + variavel;
        }
    
        // Função para obter o CSRF token do cookie
        function getCSRFToken() {
            const csrfToken = document.cookie.split(';').find(cookie => cookie.trim().startsWith('csrftoken='));
            return csrfToken ? csrfToken.split('=')[1] : '';
        }

        // Função para salvar a mensagem personalizada
        document.getElementById("salvarMensagemBtn").addEventListener("click", function () {
            var mensagemPersonalizada = document.getElementById('mensagemPersonalizada').value;
            
            // Enviar a mensagem personalizada para o backend
            fetch("{% url 'salvar_mensagem' %}", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    "X-CSRFToken": document.querySelector('[name=csrfmiddlewaretoken]').value // CSRF Token
                },
                body: JSON.stringify({
                    mensagem: mensagemPersonalizada
                })
            })
            .then(response => response.json())
            .then(data => {
                // Exibir a mensagem personalizada no campo textarea após salvar
                if (data.success) {
                    document.getElementById('mensagemPersonalizada').value = data.mensagem; // Atualiza o campo com a mensagem salva
                    alert('Mensagem salva com sucesso!');
                } else {
                    alert('Erro ao salvar mensagem!');
                }
            })
            .catch(error => {
                console.error('Erro ao enviar a mensagem:', error);
                alert('Erro ao salvar mensagem!');
            });
        });

        document.addEventListener('DOMContentLoaded', function () {

            // Exemplo de mensagem padrão que será carregada
            const mensagemPadrao = "{{ mensagem|escapejs }}";

            // Adicionar evento para quando o modal for exibido
            const modal = document.getElementById("modalEnviarMensagens");
            modal.addEventListener("shown.bs.modal", function () {
                const textarea = document.getElementById("mensagemPersonalizada");
                textarea.value = mensagemPadrao;
            });

            const selectAllCheckbox = document.getElementById('selectAll');
            const convidadoCheckboxes = Array.from(document.querySelectorAll('.convidado-checkbox'));
            const enviarMensagensBtn = document.getElementById('enviarMensagensBtn');

            // Habilitar/desabilitar o botão baseado nos checkboxes
            function toggleEnviarButton() {
                const selectedCheckboxes = convidadoCheckboxes.filter(checkbox => checkbox.checked).length;
                enviarMensagensBtn.disabled = selectedCheckboxes === 0;
            }

            // Marcar/desmarcar todos os checkboxes
            selectAllCheckbox.addEventListener('change', function () {
                const isChecked = selectAllCheckbox.checked;
                convidadoCheckboxes.forEach(checkbox => checkbox.checked = isChecked);
                toggleEnviarButton();
            });

            // Monitorar mudanças nos checkboxes dos convidados
            convidadoCheckboxes.forEach(checkbox => {
                checkbox.addEventListener('change', toggleEnviarButton);
            });
        });


        // Função para enviar mensagens via AJAX
        function enviarMensagens() {
            const selectedConvidados = [];
            document.querySelectorAll('.convidado-checkbox:checked').forEach(checkbox => {
                selectedConvidados.push(checkbox.getAttribute('data-id'));
            });

            // Dados a serem enviados para o servidor
            const data = {
                convidados: selectedConvidados,
            };

            fetch("{% url 'enviar_mensagens' %}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': document.querySelector('[name="csrfmiddlewaretoken"]').value
                },
                body: JSON.stringify(data)
            })

            
            .then(response => response.json())
            .then(data => {
                if (data.status === 'sucesso') {
                    alert('Mensagens enviadas com sucesso!');
                } else {
                    alert('Ocorreu um erro ao enviar as mensagens.');
                }
            })
            .catch(error => {
                alert('Erro ao enviar as mensagens: ' + error);
            });
        }

        // Adicionando evento de clique no botão "Enviar WhatsApp"
        document.getElementById('enviarMensagensBtn').addEventListener('click', enviarMensagens);

        
    </script>
{% endblock %}
