{% extends 'base.html' %}
{% block 'body' %}
{% load static %}

<style>
    h2 {
        color: #8B4513;
    }

    .cor-vermelho {
        color: #dc143ca6;
    }

    .cor-marrom {
        color: #8B4513;
    }

    h1 {
        color: #8B4513;
        font-size: 2.5rem;
        font-weight: bold;
    }

    
    /* Estiliza a barra de progresso */
    .range-slider {
        -webkit-appearance: none;
        width: 100%;
        height: 6px;
        background: #dc143ca6; /* Cor do botão */
        border-radius: 5px;
        outline: none;
        opacity: 0.9;
        transition: opacity .2s;
    }

    /* Quando o usuário passa o mouse */
    .range-slider:hover {
        opacity: 1;
    }

    /* Personaliza o botão deslizante no Chrome */
    .range-slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 16px;
        height: 16px;
        background: #dc143ca6; /* Cor do botão */
        border-radius: 50%;
        cursor: pointer;
    }

    /* Personaliza o botão deslizante no Firefox */
    .range-slider::-moz-range-thumb {
        width: 16px;
        height: 16px;
        background: #dc143ca6; /* Cor do botão */
        border-radius: 50%;
        cursor: pointer;
    }

    .card-img-top {
        width: 100%;         /* Faz a imagem ocupar toda a largura do card */
        height: 200px;       /* Altura fixa (ajuste conforme necessário) */
        object-fit: cover;   /* Faz a imagem cobrir o espaço sem distorcer */
        border-radius: 8px;  /* Opcional: bordas arredondadas */
    }

    .edit-icon {
        position: absolute;
        top: 10px;
        right: 10px;
        background: rgba(255, 255, 255, 0.7); /* Fundo semi-transparente */
        padding: 5px;
        border-radius: 50%;
        font-size: 18px;
        color: #dc143ca6; /* Cor vermelha para combinar com o tema */
        text-decoration: none;
        transition: background 0.3s ease, transform 0.2s ease;
    }

    .edit-icon:hover {
        background: rgba(255, 255, 255, 1);
        transform: scale(1.1);
    }

    
</style>
    {% include "partials/navbar.html" %}


    <!-- Bloco de mensagens -->
<div class="container pt-1 mt-5">
        {% if messages %}
            <div class="alert alert-info" role="alert">
                {% for message in messages %}
                    <div class="alert {{ message.tags }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}

        <div>
            <div class="row mt-5">
                <h1 class="text-center">Controle de Convidados</h1>
                <hr>
                <br>
                <!-- Formulário de Cadastro de Convidado -->
                <div class="col-md-6">
                    <div class="card p-4">
                        <form action="{% url 'lista_convidados' %}" method="POST">{% csrf_token %}
                            <h2 class="h4">Cadastre seus convidados</h2>
                            <div class="mb-3">
                                <label class="form-label cor-marrom">Nome do convidado</label>
                                <input type="text" name="nome_convidado" class="form-control">
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="form-label cor-marrom">WhatsApp</label>
                                    <input type="text" name="whatsapp" class="form-control">
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label cor-marrom">Máximo de acompanhantes</label>
                                    <input type="number" name="maximo_acompanhantes" class="form-control">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-danger mt-3" style="width: 100%; border-radius: 20px; text-align: center;">Adicionar convidado</button>
                        </form>
                    </div>
                </div>
        
                <!-- Formulário de Cadastro de Convidados em Lote -->
                <div class="col-md-6">
                    <div class="card p-4">
                        <!-- Formulário para cadastro em lote -->
                        <form action="{% url 'cadastrar_convidados_em_lote' %}" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <h2 class="h4">Cadastrar convidados em lote</h2>
                            <br>
                            <a href="{% static 'noivos/excel/arquivo_exemplo.xlsx' %}" class="btn btn-outline-danger mt-1" download>Baixar Arquivo de Exemplo</a>
                            <br><br>
                            <label for="arquivo_convidados" class="form-label cor-marrom">Escolha um arquivo (CSV ou Excel)</label>
                            <input type="file" name="arquivo_convidados" id="arquivo_convidados" accept=".csv, .xlsx" required class="form-control">
                            <button type="submit" class="btn btn-danger mt-3" style="width: 100%; border-radius: 20px; text-align: center;">Enviar</button>
                        </form>
                    </div>
                </div>
            </div>
        
            <!-- Botão para exportar para Excel -->
            <div class="row mt-5">
                <h2 class="text-center">Exportar lista de Convidados</h2>
                <br>
                <div class="col-md-12 d-flex justify-content-center">
                    
                    <form action="{% url 'exportar_convidados_excel' %}" method="get">
                        <button type="submit" class="btn btn-danger" style="width: 100%; border-radius: 20px; text-align: center;">Exportar Planilha de Excel</button>
                    </form>
                </div>
            </div>
        </div>
        
        <!-- Modal -->
        <div class="modal fade" id="modalEnviarMensagens" tabindex="-1" aria-labelledby="modalEnviarMensagensLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalEnviarMensagensLabel">Selecionar Convidados para Envio de Mensagem</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="border shadow p-4">
                            <!-- Campo para mensagem personalizada -->
                            <label for="mensagemPersonalizada" class="block text-sm font-medium text-gray-700">Mensagem personalizada</label>
                            <br>
                            <textarea id="mensagemPersonalizada" name="mensagemPersonalizada" rows="4" class="mt-1 block w-full text-sm text-gray-900 shadow ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-indigo-600 sm:text-sm sm:leading-6" placeholder="Digite sua mensagem aqui...">{{ mensagem }}</textarea>
                            <br>
                            <small class="text-gray-500">Use as palavras-chave {nome} e {link} para personalizar a mensagem.</small>
                            <button type="button" class="btn btn-outline-danger" style="border-radius: 20px; text-align: center;"  onclick="adicionarVariavel('{nome}')">Adicionar {nome}</button>
                            <button type="button" class="btn btn-outline-danger" style="border-radius: 20px; text-align: center;" onclick="adicionarVariavel('{link}')">Adicionar {link}</button>

                            <br><br>

                            <div class="row">
                                <div class="col-md-6">
                                    <!-- Campo para upload de arquivo -->
                                    <label for="arquivo" class="block text-sm font-medium text-gray-700">Anexar Imagem ou PDF</label>
                                    <input type="file" id="arquivo" name="arquivo" accept=".pdf, .jpg, .jpeg, .png" class="mt-1 block w-full text-sm text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-indigo-600 sm:text-sm sm:leading-6">
                                </div>
                                <!-- Pré-visualização da imagem -->
                                <div class="col-md-3" id="previsaoImagem" style="margin-top: 5px;">
                                    {% if mensagem_url %}
                                        <a href="#" id="imagemLink">
                                            <img id="imagemPreview" src="{{ mensagem_url }}" alt="Pré-visualização da imagem" style="max-width: 100px; max-height: 100px; object-fit: cover; display: block; cursor: pointer;">
                                        </a>
                                    {% else %}
                                        <img id="imagemPreview" src="#" alt="Pré-visualização da imagem" style="max-width: 100px; max-height: 100px; object-fit: cover; display: none;">
                                    {% endif %}
                                </div>
                                <div class="col-md-3 mt-4">
                                    <i class="bi bi-arrow-left">Clique na imagem para ampliar!</i>
                                </div>
                            </div>

                            <br><br>
                            <!-- Botões para adicionar variáveis padrões -->
                            
                            <div class="d-flex justify-content-center">
                                <button type="button" id="salvarMensagemBtn" class="btn btn-danger btn-lg" style="border-radius: 20px; text-align: center;">
                                    Salvar Mensagem
                                </button>
                            </div>

                        </div>
                        
                        <br><br>
                        <!-- Tabela de convidados -->
                        <table class="table table-danger table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th><input type="checkbox" id="selectAll"></th>
                                    <th>Nome</th>
                                    <th>Whatsapp</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for convidado in nao_confirmados %}
                                <tr>
                                    <td><input type="checkbox" class="convidado-checkbox" data-id="{{ convidado.id }}"></td>
                                    <td>{{ convidado.nome_convidado }}</td>
                                    <td>{{ convidado.whatsapp }}</td>
                                    <td>{{ convidado.get_status_display }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light btn-lg" style="border-radius: 20px; text-align: center;" data-bs-dismiss="modal">Cancelar</button>
                        
                        <button type="button" id="enviarMensagensBtn" class="btn btn-success btn-lg" style="border-radius: 20px; text-align: center;" disabled>
                        Enviar WhatsApp
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal para exibir a imagem ou PDF expandido -->
        <div class="modal fade" id="modalImagemExpandida" tabindex="-1" aria-labelledby="modalImagemExpandidaLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalImagemExpandidaLabel">Conteúdo Expandido</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-center">
                        <div id="conteudoExpandido"></div>
                    </div>
                </div>
            </div>
        </div>

        

        <div class="mt-4">
            <h2 class="mb-2">Enviar mensagens em massa</h2>
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalEnviarMensagens">
                <i class="fab fa-whatsapp me-2"></i> Enviar WhatsApp
            </button>
        </div>

        <!-- Lista de convidados -->
        <div class="container mt-4">
            
            <br>

            <h2 class="h3 mb-4">Lista de Convidados e Acompanhantes</h2>
            <div class="">
                <table class="table table-danger table-bordered">
                    <thead >
                        <tr>
                            <th class="text-center font-weight-bold">Nome</th>
                            <th class="text-center font-weight-bold">Status</th>
                            <th class="text-center font-weight-bold">WhatsApp</th>
                            <th class="text-center font-weight-bold">Máximo de Acompanhantes</th>
                            <th class="text-center font-weight-bold">Acompanhantes Confirmados</th>
                            <th class="text-center font-weight-bold">Link Convite</th>
                            <th class="text-center font-weight-bold">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for convidado in convidados %}
                        <tr>
                            <td style="font-size: 0.8rem;">{{ convidado.nome_convidado }}</td>
                            <td style="font-size: 0.8rem;">
                                <span class="badge rounded-pill {% if convidado.status == 'AC' %}bg-warning{% elif convidado.status == 'C'%}bg-info{% else %}bg-danger{% endif %}">
                                    {{ convidado.get_status_display }}
                                </span>
                            </td>
                            <td style="font-size: 0.8rem;">{{ convidado.whatsapp }}</td>
                            <td style="font-size: 0.8rem;">{{ convidado.maximo_acompanhantes }}</td>
                            <td style="font-size: 0.8rem;">
                                {% if convidado.acompanhantes.all %}
                                    <ul class="list-unstyled">
                                        {% for acompanhante in convidado.acompanhantes.all %}
                                            <li>- {{ acompanhante.nome }}</li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    Nenhum acompanhante
                                {% endif %}
                            </td>
                            <td style="font-size: 0.8rem;">{{ convidado.link_convite }}</td>
                            <td class="text-center">
                                <a href="{% url 'excluir_convidado' convidado.id %}" class="btn btn-danger" style="border-radius: 20px; text-align: center;" onclick="return confirm('Tem certeza que deseja excluir este convidado? Verifique se ele não possui presentes reservados.')">
                                    Excluir
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <footer class="text-center text-lg-start bg-gray-900 py-12">
        <!-- Copyright -->
        <div class="text-center text-white">
            {{ perfil.nome_primeiro_conjuge }} & {{ perfil.nome_segundo_conjuge }}
          </div>
        <div class="text-center text-white">
          {{ data_casamento|date:"d/m/Y" }}
        </div>
        <div class="text-center text-white">
            © 2025 Todos os direitos reservados.
        </div>
        <!-- Copyright -->
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.10.377/pdf.min.js"></script>

    <script>
        // Selecionar/Deselecionar todos os checkboxes
        document.getElementById('selectAll').addEventListener('change', function () {
            const checkboxes = document.querySelectorAll('.convidado-checkbox');
            checkboxes.forEach(checkbox => {
                checkbox.checked = this.checked;
            });
        });

        // Função para adicionar a variável no campo de mensagem personalizada
        function adicionarVariavel(variavel) {
            var mensagemCampo = document.getElementById('mensagemPersonalizada');
            mensagemCampo.value += ' ' + variavel;
        }
    
        // Função para obter o CSRF token do cookie
        function getCSRFToken() {
            const csrfToken = document.cookie.split(';').find(cookie => cookie.trim().startsWith('csrftoken='));
            return csrfToken ? csrfToken.split('=')[1] : '';
        }

        // Função para salvar a mensagem personalizada
        document.getElementById("salvarMensagemBtn").addEventListener("click", function () {
            var mensagemPersonalizada = document.getElementById('mensagemPersonalizada').value;
            var arquivo = document.getElementById('arquivo').files[0];

            var formData = new FormData();
            formData.append('mensagem', mensagemPersonalizada);  // Agora estamos usando 'mensagemPersonalizada'
            if (arquivo) {
                formData.append('arquivo', arquivo);  // Adiciona o arquivo se ele existir
            }

            fetch("{% url 'salvar_mensagem' %}", {
                method: 'POST',
                body: formData,
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    alert('Mensagem e imagem salvas com sucesso!');
                    // Atualize a UI conforme necessário
                    // Você pode fechar o modal ou atualizar outras partes da página se necessário
                } else {
                    alert('Erro ao salvar a mensagem e imagem.');
                }
            })
            .catch(error => console.error('Error:', error));
        });

        // Função para exibir a imagem ou PDF na pré-visualização
        function exibirPreview() {
            const imagemUrl = document.getElementById('imagemPreview').src;
            const fileExtension = imagemUrl.split('.').pop().toLowerCase();

            if (fileExtension === 'pdf') {
                // Usar PDF.js para renderizar o PDF na pré-visualização como uma imagem
                const loadingTask = pdfjsLib.getDocument(imagemUrl);
                loadingTask.promise.then(function(pdf) {
                    // Renderizar a primeira página do PDF
                    pdf.getPage(1).then(function(page) {
                        const scale = 0.2; // Ajuste a escala para o tamanho da imagem na pré-visualização
                        const viewport = page.getViewport({ scale: scale });

                        // Preparar o canvas
                        const canvas = document.createElement('canvas');
                        const context = canvas.getContext('2d');
                        canvas.width = viewport.width;
                        canvas.height = viewport.height;

                        // Renderizar a página no canvas
                        page.render({ canvasContext: context, viewport: viewport }).promise.then(function() {
                            // Converter o canvas para uma imagem e exibir
                            const imageUrl = canvas.toDataURL();
                            document.getElementById('imagemPreview').src = imageUrl;
                        });
                    });
                }, function(error) {
                    console.error(error);
                });
            } else {
                // Caso seja uma imagem, exibe diretamente
                document.getElementById('imagemPreview').src = imagemUrl;
            }
        }

        // Chama a função para exibir a pré-visualização assim que a URL for definida
        exibirPreview();

        // Exibir a imagem ou PDF expandido ao clicar na imagem ou link
        document.getElementById('imagemLink')?.addEventListener('click', function(event) {
            event.preventDefault();
            const imagemUrl = document.getElementById('imagemPreview').src;
            const fileExtension = imagemUrl.split('.').pop().toLowerCase();

            const modalImagemExpandida = new bootstrap.Modal(document.getElementById('modalImagemExpandida'));
            const conteudoExpandido = document.getElementById('conteudoExpandido');
            conteudoExpandido.innerHTML = '';  // Limpar conteúdo anterior

            if (fileExtension === 'pdf') {
                // Carregar e exibir o PDF
                const loadingTask = pdfjsLib.getDocument(imagemUrl);
                loadingTask.promise.then(function(pdf) {
                    pdf.getPage(1).then(function(page) {
                        const scale = 1.5;
                        const viewport = page.getViewport({ scale: scale });

                        // Preparar o canvas
                        const canvas = document.createElement('canvas');
                        const context = canvas.getContext('2d');
                        canvas.width = viewport.width;
                        canvas.height = viewport.height;

                        // Renderizar o PDF na tela
                        page.render({ canvasContext: context, viewport: viewport }).promise.then(function() {
                            conteudoExpandido.appendChild(canvas);
                            modalImagemExpandida.show();
                        });
                    });
                }, function(error) {
                    console.error(error);
                });
            } else {
                // Exibir imagem
                const img = document.createElement('img');
                img.src = imagemUrl;
                img.className = 'img-fluid';
                conteudoExpandido.appendChild(img);
                modalImagemExpandida.show();
            }
        });


        

        document.addEventListener('DOMContentLoaded', function () {

            // Exemplo de mensagem padrão que será carregada
            const mensagemPadrao = "{{ mensagem|escapejs }}";

            // Adicionar evento para quando o modal for exibido
            const modal = document.getElementById("modalEnviarMensagens");
            modal.addEventListener("shown.bs.modal", function () {
                const textarea = document.getElementById("mensagemPersonalizada");
                textarea.value = mensagemPadrao;
            });

            const selectAllCheckbox = document.getElementById('selectAll');
            const convidadoCheckboxes = Array.from(document.querySelectorAll('.convidado-checkbox'));
            const enviarMensagensBtn = document.getElementById('enviarMensagensBtn');

            // Habilitar/desabilitar o botão baseado nos checkboxes
            function toggleEnviarButton() {
                const selectedCheckboxes = convidadoCheckboxes.filter(checkbox => checkbox.checked).length;
                enviarMensagensBtn.disabled = selectedCheckboxes === 0;
            }

            // Marcar/desmarcar todos os checkboxes
            selectAllCheckbox.addEventListener('change', function () {
                const isChecked = selectAllCheckbox.checked;
                convidadoCheckboxes.forEach(checkbox => checkbox.checked = isChecked);
                toggleEnviarButton();
            });

            // Monitorar mudanças nos checkboxes dos convidados
            convidadoCheckboxes.forEach(checkbox => {
                checkbox.addEventListener('change', toggleEnviarButton);
            });
        });


        // Função para enviar mensagens via AJAX
        function enviarMensagens() {
            const selectedConvidados = [];
            document.querySelectorAll('.convidado-checkbox:checked').forEach(checkbox => {
                selectedConvidados.push(checkbox.getAttribute('data-id'));
            });

            // Dados a serem enviados para o servidor
            const formData = new FormData();
            formData.append('convidados', JSON.stringify(selectedConvidados));

            fetch("{% url 'enviar_mensagens' %}", {
                method: 'POST',
                body: formData,
                headers: {
                    'X-CSRFToken': document.querySelector('[name="csrfmiddlewaretoken"]').value
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'sucesso') {
                    alert('Mensagens enviadas com sucesso!');
                } else {
                    alert('Ocorreu um erro ao enviar as mensagens.');
                }
            })
            .catch(error => {
                alert('Erro ao enviar as mensagens: ' + error);
            });
        }

        // Adicionando evento de clique no botão "Enviar WhatsApp"
        document.getElementById('enviarMensagensBtn').addEventListener('click', enviarMensagens);

        
    </script>
{% endblock %}
